[Desktop Entry]
Name=An Anime Game Launcher (Conty-Restricted)
Comment=An Launcher for a specific anime game with auto-patching, discord rpc and time tracking
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads an-anime-game-launcher
Terminal=false
Type=Application
Icon=moe.launcher.an-anime-game-launcher
Categories=Game
