[Desktop Entry]
Version=1.0
Name=Brave (Wayland) (Conty-Restricted)
# Only KDE 4 seems to use GenericName, so we reuse the KDE strings.
# From Ubuntu's language-pack-kde-XX-base packages, version 9.04-20090413.
GenericName=Web Browser
GenericName[ar]=متصفح الشبكة
GenericName[bg]=Уеб браузър
GenericName[ca]=Navegador web
GenericName[cs]=WWW prohlížeč
GenericName[da]=Browser
GenericName[de]=Web-Browser
GenericName[el]=Περιηγητής ιστού
GenericName[en_GB]=Web Browser
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[gu]=વેબ બ્રાઉઝર
GenericName[he]=דפדפן אינטרנט
GenericName[hi]=वेब ब्राउज़र
GenericName[hu]=Webböngésző
GenericName[it]=Browser Web
GenericName[ja]=ウェブブラウザ
GenericName[kn]=ಜಾಲ ವೀಕ್ಷಕ
GenericName[ko]=웹 브라우저
GenericName[lt]=Žiniatinklio naršyklė
GenericName[lv]=Tīmekļa pārlūks
GenericName[ml]=വെബ് ബ്രൌസര്‍
GenericName[mr]=वेब ब्राऊजर
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador da Internet
GenericName[ro]=Navigator de Internet
GenericName[ru]=Веб-браузер
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[ta]=இணைய உலாவி
GenericName[th]=เว็บเบราว์เซอร์
GenericName[tr]=Web Tarayıcı
GenericName[uk]=Навігатор Тенет
GenericName[zh_CN]=网页浏览器
GenericName[zh_HK]=網頁瀏覽器
GenericName[zh_TW]=網頁瀏覽器
# Not translated in KDE, from Epiphany 2.26.1-0ubuntu1.
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[fil]=Web Browser
GenericName[hr]=Web preglednik
GenericName[id]=Browser Web
GenericName[or]=ଓ୍ବେବ ବ୍ରାଉଜର
GenericName[sk]=WWW prehliadač
GenericName[sr]=Интернет прегледник
GenericName[te]=మహాతల అన్వేషి
GenericName[vi]=Bộ duyệt Web
# Gnome and KDE 3 uses Comment.
Comment=Access the Internet
Comment[ar]=الدخول إلى الإنترنت
Comment[bg]=Достъп до интернет
Comment[bn]=ইন্টারনেটটি অ্যাক্সেস করুন
Comment[ca]=Accedeix a Internet
Comment[cs]=Přístup k internetu
Comment[da]=Få adgang til internettet
Comment[de]=Internetzugriff
Comment[el]=Πρόσβαση στο Διαδίκτυο
Comment[en_GB]=Access the Internet
Comment[es]=Accede a Internet.
Comment[et]=Pääs Internetti
Comment[fi]=Käytä internetiä
Comment[fil]=I-access ang Internet
Comment[fr]=Accéder à Internet
Comment[gu]=ઇંટરનેટ ઍક્સેસ કરો
Comment[he]=גישה אל האינטרנט
Comment[hi]=इंटरनेट तक पहुंच स्थापित करें
Comment[hr]=Pristup Internetu
Comment[hu]=Internetelérés
Comment[id]=Akses Internet
Comment[it]=Accesso a Internet
Comment[ja]=インターネットにアクセス
Comment[kn]=ಇಂಟರ್ನೆಟ್ ಅನ್ನು ಪ್ರವೇಶಿಸಿ
Comment[ko]=인터넷 연결
Comment[lt]=Interneto prieiga
Comment[lv]=Piekļūt internetam
Comment[ml]=ഇന്റര്‍‌നെറ്റ് ആക്‌സസ് ചെയ്യുക
Comment[mr]=इंटरनेटमध्ये प्रवेश करा
Comment[nb]=Gå til Internett
Comment[nl]=Verbinding maken met internet
Comment[or]=ଇଣ୍ଟର୍ନେଟ୍ ପ୍ରବେଶ କରନ୍ତୁ
Comment[pl]=Skorzystaj z internetu
Comment[pt]=Aceder à Internet
Comment[pt_BR]=Acessar a internet
Comment[ro]=Accesaţi Internetul
Comment[ru]=Доступ в Интернет
Comment[sk]=Prístup do siete Internet
Comment[sl]=Dostop do interneta
Comment[sr]=Приступите Интернету
Comment[sv]=Gå ut på Internet
Comment[ta]=இணையத்தை அணுகுதல்
Comment[te]=ఇంటర్నెట్‌ను ఆక్సెస్ చెయ్యండి
Comment[th]=เข้าถึงอินเทอร์เน็ต
Comment[tr]=İnternet'e erişin
Comment[uk]=Доступ до Інтернету
Comment[vi]=Truy cập Internet
Comment[zh_CN]=访问互联网
Comment[zh_HK]=連線到網際網路
Comment[zh_TW]=連線到網際網路
StartupNotify=true
StartupWMClass=brave-browser
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads brave --extension-mime-request-handling=always-prompt-for-install --enable-features=WebRTCPipeWireCapturer,WebUIDarkMode,UseOzonePlatform,WaylandWindowDecoration --ozone-platform=wayland --force-dark-mode %U
Terminal=false
Icon=brave-desktop
Type=Application
Categories=Network;WebBrowser;
MimeType=application/pdf;application/rdf+xml;application/rss+xml;application/xhtml+xml;application/xhtml_xml;application/xml;image/gif;image/jpeg;image/png;image/webp;text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ipfs;x-scheme-handler/ipns;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Name[am]=አዲስ መስኮት (Conty-Restricted)
Name[ar]=نافذة جديدة (Conty-Restricted)
Name[bg]=Нов прозорец (Conty-Restricted)
Name[bn]=নতুন উইন্ডো (Conty-Restricted)
Name[ca]=Finestra nova (Conty-Restricted)
Name[cs]=Nové okno (Conty-Restricted)
Name[da]=Nyt vindue (Conty-Restricted)
Name[de]=Neues Fenster (Conty-Restricted)
Name[el]=Νέο Παράθυρο (Conty-Restricted)
Name[en_GB]=New Window (Conty-Restricted)
Name[es]=Nueva ventana (Conty-Restricted)
Name[et]=Uus aken (Conty-Restricted)
Name[fa]=پنجره جدید (Conty-Restricted)
Name[fi]=Uusi ikkuna (Conty-Restricted)
Name[fil]=New Window (Conty-Restricted)
Name[fr]=Nouvelle fenêtre (Conty-Restricted)
Name[gu]=નવી વિંડો (Conty-Restricted)
Name[hi]=नई विंडो (Conty-Restricted)
Name[hr]=Novi prozor (Conty-Restricted)
Name[hu]=Új ablak (Conty-Restricted)
Name[id]=Jendela Baru (Conty-Restricted)
Name[it]=Nuova finestra (Conty-Restricted)
Name[iw]=חלון חדש (Conty-Restricted)
Name[ja]=新規ウインドウ (Conty-Restricted)
Name[kn]=ಹೊಸ ವಿಂಡೊ (Conty-Restricted)
Name[ko]=새 창 (Conty-Restricted)
Name[lt]=Naujas langas (Conty-Restricted)
Name[lv]=Jauns logs (Conty-Restricted)
Name[ml]=പുതിയ വിന്‍ഡോ (Conty-Restricted)
Name[mr]=नवीन विंडो (Conty-Restricted)
Name[nl]=Nieuw venster (Conty-Restricted)
Name[no]=Nytt vindu (Conty-Restricted)
Name[pl]=Nowe okno (Conty-Restricted)
Name[pt]=Nova janela (Conty-Restricted)
Name[pt_BR]=Nova janela (Conty-Restricted)
Name[ro]=Fereastră nouă (Conty-Restricted)
Name[ru]=Новое окно (Conty-Restricted)
Name[sk]=Nové okno (Conty-Restricted)
Name[sl]=Novo okno (Conty-Restricted)
Name[sr]=Нови прозор (Conty-Restricted)
Name[sv]=Nytt fönster (Conty-Restricted)
Name[sw]=Dirisha Jipya (Conty-Restricted)
Name[ta]=புதிய சாளரம் (Conty-Restricted)
Name[te]=క్రొత్త విండో (Conty-Restricted)
Name[th]=หน้าต่างใหม่ (Conty-Restricted)
Name[tr]=Yeni Pencere (Conty-Restricted)
Name[uk]=Нове вікно (Conty-Restricted)
Name[vi]=Cửa sổ Mới (Conty-Restricted)
Name[zh_CN]=新建窗口 (Conty-Restricted)
Name[zh_TW]=開新視窗 (Conty-Restricted)
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads brave --extension-mime-request-handling=always-prompt-for-install --enable-features=WebRTCPipeWireCapturer,WebUIDarkMode,UseOzonePlatform,WaylandWindowDecoration --ozone-platform=wayland --force-dark-mode

[Desktop Action new-private-window]
Name=New Incognito Window
Name[ar]=نافذة جديدة للتصفح المتخفي (Conty-Restricted)
Name[bg]=Нов прозорец „инкогнито“ (Conty-Restricted)
Name[bn]=নতুন ছদ্মবেশী উইন্ডো (Conty-Restricted)
Name[ca]=Finestra d'incògnit nova (Conty-Restricted)
Name[cs]=Nové anonymní okno (Conty-Restricted)
Name[da]=Nyt inkognitovindue (Conty-Restricted)
Name[de]=Neues Inkognito-Fenster (Conty-Restricted)
Name[el]=Νέο παράθυρο για ανώνυμη περιήγηση (Conty-Restricted)
Name[en_GB]=New Incognito window (Conty-Restricted)
Name[es]=Nueva ventana de incógnito (Conty-Restricted)
Name[et]=Uus inkognito aken (Conty-Restricted)
Name[fa]=پنجره جدید حالت ناشناس (Conty-Restricted)
Name[fi]=Uusi incognito-ikkuna (Conty-Restricted)
Name[fil]=Bagong Incognito window (Conty-Restricted)
Name[fr]=Nouvelle fenêtre de navigation privée (Conty-Restricted)
Name[gu]=નવી છુપી વિંડો (Conty-Restricted)
Name[hi]=नई गुप्त विंडो (Conty-Restricted)
Name[hr]=Novi anoniman prozor (Conty-Restricted)
Name[hu]=Új Inkognitóablak (Conty-Restricted)
Name[id]=Jendela Penyamaran baru (Conty-Restricted)
Name[it]=Nuova finestra di navigazione in incognito (Conty-Restricted)
Name[iw]=חלון חדש לגלישה בסתר (Conty-Restricted)
Name[ja]=新しいシークレット ウィンドウ (Conty-Restricted)
Name[kn]=ಹೊಸ ಅಜ್ಞಾತ ವಿಂಡೋ (Conty-Restricted)
Name[ko]=새 시크릿 창 (Conty-Restricted)
Name[lt]=Naujas inkognito langas (Conty-Restricted)
Name[lv]=Jauns inkognito režīma logs (Conty-Restricted)
Name[ml]=പുതിയ വേഷ പ്രച്ഛന്ന വിന്‍ഡോ (Conty-Restricted)
Name[mr]=नवीन गुप्त विंडो (Conty-Restricted)
Name[nl]=Nieuw incognitovenster (Conty-Restricted)
Name[no]=Nytt inkognitovindu (Conty-Restricted)
Name[pl]=Nowe okno incognito (Conty-Restricted)
Name[pt]=Nova janela de navegação anónima (Conty-Restricted)
Name[pt_BR]=Nova janela anônima (Conty-Restricted)
Name[ro]=Fereastră nouă incognito (Conty-Restricted)
Name[ru]=Новое окно в режиме инкогнито (Conty-Restricted)
Name[sk]=Nové okno inkognito (Conty-Restricted)
Name[sl]=Novo okno brez beleženja zgodovine (Conty-Restricted)
Name[sr]=Нови прозор за прегледање без архивирања (Conty-Restricted)
Name[sv]=Nytt inkognitofönster (Conty-Restricted)
Name[ta]=புதிய மறைநிலைச் சாளரம் (Conty-Restricted)
Name[te]=క్రొత్త అజ్ఞాత విండో (Conty-Restricted)
Name[th]=หน้าต่างใหม่ที่ไม่ระบุตัวตน (Conty-Restricted)
Name[tr]=Yeni Gizli pencere (Conty-Restricted)
Name[uk]=Нове вікно в режимі анонімного перегляду (Conty-Restricted)
Name[vi]=Cửa sổ ẩn danh mới (Conty-Restricted)
Name[zh_CN]=新建隐身窗口 (Conty-Restricted)
Name[zh_TW]=新增無痕式視窗 (Conty-Restricted)
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads brave --incognito --extension-mime-request-handling=always-prompt-for-install --enable-features=WebRTCPipeWireCapturer,WebUIDarkMode,UseOzonePlatform,WaylandWindowDecoration --ozone-platform=wayland --force-dark-mode
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;text/html;text/xml;application/xhtml_xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
