[Desktop Entry]
Type=Application
Name=Master PDF Editor (Conty-Restricted)
GenericName=PDF Editor
Comment=Edit your PDF and XPS files
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/var/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads /opt/master-pdf-editor-4/masterpdfeditor4 %f
Icon=/opt/master-pdf-editor-4/masterpdfeditor4.png
Categories=Office;Publishing;
MimeType=application/pdf
