[Desktop Entry]
Version=1.0
Type=Application
Name=PPSSPP (SDL) (Conty-Restricted)
GenericName=PSP Emulator
Comment=PlayStation Portable Simulator Suitable for Playing Portably
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/var/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads PPSSPPSDL %f
Icon=ppsspp
Categories=Game
