[Desktop Entry]
# TRANSLATORS: Don't translate
Name[cs]=Junction (Conty-Restricted)
Name[es]=Junction (Conty-Restricted)
Name[it]=Junction (Conty-Restricted)
Name[oc]=Junction (Conty-Restricted)
Name[pl]=Junction (Conty-Restricted)
Name[pt_BR]=Junction (Conty-Restricted)
Name[fr]=Junction (Conty-Restricted)
Name[nb_NO]=Junction (Conty-Restricted)
Name[ru]=Junction (Conty-Restricted)
Name[tr]=Junction (Conty-Restricted)
Name[ja]=Junction (Conty-Restricted)
Name[hr]=Junction (Conty-Restricted)
Name[de]=Junction (Conty-Restricted)
Name[eu]=Junction (Conty-Restricted)
Name[gl]=Junction (Conty-Restricted)
Name[nl]=Junction (Conty-Restricted)
Name[zh_Hans]=Junction (Conty-Restricted)
Name[fa]=تقاطع (Conty-Restricted)
Name[si]=Junction (Conty-Restricted)
Name[pt]=Junction (Conty-Restricted)
Name[he]=צומת (Conty-Restricted)
Name[uk]=Junction (Conty-Restricted)
Name[ro]=Junction (Conty-Restricted)
Name[id]=Junction (Conty-Restricted)
Name[ar]=جانكشن (Conty-Restricted)
Name=Junction (Conty-Restricted)
Comment[cs]=Volba aplikací
Comment[es]=Selector de aplicaciones
Comment[it]=Selettore per applicazioni
Comment[oc]=Selector d’aplicacion
Comment[pl]=Wybór aplikacji
Comment[pt_BR]=Seletor de aplicativo
Comment[fr]=Sélecteur d’application
Comment[nb_NO]=Programvelger
Comment[ru]=Выберите приложение
Comment[tr]=Uygulama seçici
Comment[ja]=続行するアプリケーション選択
Comment[hr]=Birač programa
Comment[de]=Programme wählen
Comment[eu]=Aplikazioen hautagailua
Comment[gl]=Selector de aplicacións
Comment[nl]=Toepassingskiezer
Comment[zh_Hans]=应用程序选择器
Comment[fa]=انتخاب برنامه
Comment[pt]=Seletor de aplicações
Comment[he]=בורר יישומים
Comment[uk]=Оберіть додаток
Comment[ro]=Selector de aplicații
Comment[id]=Pemilih aplikasi
Comment[ar]=منتقي التطبيقات
Comment=Application chooser
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads re.sonny.Junction %U
MimeType=x-scheme-handler/x-junction
Terminal=false
Type=Application
Categories=Settings;System;Utility;GNOME;GTK;
Icon=re.sonny.Junction
# TRANSLATORS: Don't translate
Keywords[cs]=Choosey;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;
Keywords[es]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[it]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[pt_BR]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[fr]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[nb_NO]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[ru]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[tr]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[ja]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[hr]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[de]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[eu]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[gl]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[nl]=Kiezen;Browserkeuze;Browser;Browserosaurus;Buffet;OpenenMet;Browserselectie;
Keywords[zh_Hans]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[pt]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[he]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[ro]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[id]=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords[ar]=;Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
Keywords=Choosy;BrowserChooser;Braus;Browserosaurus;Finicky;Buffet;OpenIn;BrowserSelect;
DBusActivatable=true
StartupNotify=true
