[Desktop Entry]
Name=Steam Tinker Launch (Settings) (Conty-Restricted)
Comment=steamtinkerlaunch Settings menu
Categories=Game;
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/var/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads steamtinkerlaunch settings
Icon=steamtinkerlaunch
Terminal=false
Type=Application
