[Desktop Entry]
Name=Firejail Configuration Wizard (Conty-Restricted)
Comment=Firejail configuration wizard
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads firejail-ui
Icon=firejail-ui
Terminal=false
Type=Application
Categories=Qt;Utility;Security;
Keywords=jail;security;seccomp;
