[Desktop Entry]
Version=1.0
Name=Firefox (Conty-Restricted)
GenericName=Web Browser
GenericName[ar]=متصفح ويب
GenericName[ast]=Restolador Web
GenericName[bn]=ওয়েব ব্রাউজার
GenericName[ca]=Navegador web
GenericName[cs]=Webový prohlížeč
GenericName[da]=Webbrowser
GenericName[de]=Webbrowser
GenericName[el]=Περιηγητής διαδικτύου
GenericName[es]=Navegador web
GenericName[et]=Veebibrauser
GenericName[fa]=مرورگر اینترنتی
GenericName[fi]=WWW-selain
GenericName[fr]=Navigateur Web
GenericName[gl]=Navegador Web
GenericName[he]=דפדפן אינטרנט
GenericName[hr]=Web preglednik
GenericName[hu]=Webböngésző
GenericName[it]=Browser web
GenericName[ja]=ウェブ・ブラウザ
GenericName[ko]=웹 브라우저
GenericName[ku]=Geroka torê
GenericName[lt]=Interneto naršyklė
GenericName[nb]=Nettleser
GenericName[nl]=Webbrowser
GenericName[nn]=Nettlesar
GenericName[no]=Nettleser
GenericName[pl]=Przeglądarka WWW
GenericName[pt]=Navegador Web
GenericName[pt_BR]=Navegador Web
GenericName[ro]=Navigator Internet
GenericName[ru]=Веб-браузер
GenericName[sk]=Internetový prehliadač
GenericName[sl]=Spletni brskalnik
GenericName[sv]=Webbläsare
GenericName[tr]=Web Tarayıcı
GenericName[ug]=توركۆرگۈ
GenericName[uk]=Веб-браузер
GenericName[vi]=Trình duyệt Web
GenericName[zh_CN]=网络浏览器
GenericName[zh_TW]=網路瀏覽器
Comment=Browse the World Wide Web
Comment[ar]=تصفح الشبكة العنكبوتية العالمية
Comment[ast]=Restola pela Rede
Comment[bn]=ইন্টারনেট ব্রাউজ করুন
Comment[ca]=Navegueu per el web
Comment[cs]=Prohlížení stránek World Wide Webu
Comment[da]=Surf på internettet
Comment[de]=Im Internet surfen
Comment[el]=Μπορείτε να περιηγηθείτε στο διαδίκτυο (Web)
Comment[es]=Navegue por la web
Comment[et]=Lehitse veebi
Comment[fa]=صفحات شبکه جهانی اینترنت را مرور نمایید
Comment[fi]=Selaa Internetin WWW-sivuja
Comment[fr]=Naviguer sur le Web
Comment[gl]=Navegar pola rede
Comment[he]=גלישה ברחבי האינטרנט
Comment[hr]=Pretražite web
Comment[hu]=A világháló böngészése
Comment[it]=Esplora il web
Comment[ja]=ウェブを閲覧します
Comment[ko]=웹을 돌아 다닙니다
Comment[ku]=Li torê bigere
Comment[lt]=Naršykite internete
Comment[nb]=Surf på nettet
Comment[nl]=Verken het internet
Comment[nn]=Surf på nettet
Comment[no]=Surf på nettet
Comment[pl]=Przeglądanie stron WWW
Comment[pt]=Navegue na Internet
Comment[pt_BR]=Navegue na Internet
Comment[ro]=Navigați pe Internet
Comment[ru]=Доступ в Интернет
Comment[sk]=Prehliadanie internetu
Comment[sl]=Brskajte po spletu
Comment[sv]=Surfa på webben
Comment[tr]=İnternet'te Gezinin
Comment[ug]=دۇنيادىكى توربەتلەرنى كۆرگىلى بولىدۇ
Comment[uk]=Перегляд сторінок Інтернету
Comment[vi]=Để duyệt các trang web
Comment[zh_CN]=浏览互联网
Comment[zh_TW]=瀏覽網際網路
Keywords=Internet;WWW;Browser;Web;Explorer
Keywords[ar]=انترنت;إنترنت;متصفح;ويب;وب
Keywords[ast]=Internet;WWW;Restolador;Web;Esplorador
Keywords[ca]=Internet;WWW;Navegador;Web;Explorador;Explorer
Keywords[cs]=Internet;WWW;Prohlížeč;Web;Explorer
Keywords[da]=Internet;Internettet;WWW;Browser;Browse;Web;Surf;Nettet
Keywords[de]=Internet;WWW;Browser;Web;Explorer;Webseite;Site;surfen;online;browsen
Keywords[el]=Internet;WWW;Browser;Web;Explorer;Διαδίκτυο;Περιηγητής;Firefox;Φιρεφοχ;Ιντερνετ
Keywords[es]=Explorador;Internet;WWW
Keywords[fi]=Internet;WWW;Browser;Web;Explorer;selain;Internet-selain;internetselain;verkkoselain;netti;surffaa
Keywords[fr]=Internet;WWW;Browser;Web;Explorer;Fureteur;Surfer;Navigateur
Keywords[he]=דפדפן;אינטרנט;רשת;אתרים;אתר;פיירפוקס;מוזילה;
Keywords[hr]=Internet;WWW;preglednik;Web
Keywords[hu]=Internet;WWW;Böngésző;Web;Háló;Net;Explorer
Keywords[it]=Internet;WWW;Browser;Web;Navigatore
Keywords[is]=Internet;WWW;Vafri;Vefur;Netvafri;Flakk
Keywords[ja]=Internet;WWW;Web;インターネット;ブラウザ;ウェブ;エクスプローラ
Keywords[nb]=Internett;WWW;Nettleser;Explorer;Web;Browser;Nettside
Keywords[nl]=Internet;WWW;Browser;Web;Explorer;Verkenner;Website;Surfen;Online
Keywords[pt]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[pt_BR]=Internet;WWW;Browser;Web;Explorador;Navegador
Keywords[ru]=Internet;WWW;Browser;Web;Explorer;интернет;браузер;веб;файрфокс;огнелис
Keywords[sk]=Internet;WWW;Prehliadač;Web;Explorer
Keywords[sl]=Internet;WWW;Browser;Web;Explorer;Brskalnik;Splet
Keywords[tr]=İnternet;WWW;Tarayıcı;Web;Gezgin;Web sitesi;Site;sörf;çevrimiçi;tara
Keywords[uk]=Internet;WWW;Browser;Web;Explorer;Інтернет;мережа;переглядач;оглядач;браузер;веб;файрфокс;вогнелис;перегляд
Keywords[vi]=Internet;WWW;Browser;Web;Explorer;Trình duyệt;Trang web
Keywords[zh_CN]=Internet;WWW;Browser;Web;Explorer;网页;浏览;上网;火狐;Firefox;ff;互联网;网站;
Keywords[zh_TW]=Internet;WWW;Browser;Web;Explorer;網際網路;網路;瀏覽器;上網;網頁;火狐
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads env UBUNTU_MENUPROXY=0 /usr/lib/firefox/firefox %u
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window (Conty-Restricted)
Name[ach]=Dirica manyen (Conty-Restricted)
Name[af]=Nuwe venster (Conty-Restricted)
Name[an]=Nueva finestra (Conty-Restricted)
Name[ar]=نافذة جديدة (Conty-Restricted)
Name[as]=নতুন উইন্ডো (Conty-Restricted)
Name[ast]=Ventana nueva (Conty-Restricted)
Name[az]=Yeni Pəncərə (Conty-Restricted)
Name[be]=Новае акно (Conty-Restricted)
Name[bg]=Нов прозорец (Conty-Restricted)
Name[bn_BD]=নতুন উইন্ডো (N) (Conty-Restricted)
Name[bn_IN]=নতুন উইন্ডো (Conty-Restricted)
Name[br]=Prenestr nevez (Conty-Restricted)
Name[brx]=गोदान उइन्ड'(N) (Conty-Restricted)
Name[bs]=Novi prozor (Conty-Restricted)
Name[ca]=Finestra nova (Conty-Restricted)
Name[cak]=K'ak'a' tzuwäch (Conty-Restricted)
Name[cs]=Nové okno (Conty-Restricted)
Name[cy]=Ffenestr Newydd (Conty-Restricted)
Name[da]=Nyt vindue (Conty-Restricted)
Name[de]=Neues Fenster (Conty-Restricted)
Name[dsb]=Nowe wokno (Conty-Restricted)
Name[el]=Νέο παράθυρο (Conty-Restricted)
Name[en_GB]=New Window (Conty-Restricted)
Name[en_US]=New Window (Conty-Restricted)
Name[en_ZA]=New Window (Conty-Restricted)
Name[eo]=Nova fenestro (Conty-Restricted)
Name[es_AR]=Nueva ventana (Conty-Restricted)
Name[es_CL]=Nueva ventana (Conty-Restricted)
Name[es_ES]=Nueva ventana (Conty-Restricted)
Name[es_MX]=Nueva ventana (Conty-Restricted)
Name[et]=Uus aken (Conty-Restricted)
Name[eu]=Leiho berria (Conty-Restricted)
Name[fa]=پنجره جدید (Conty-Restricted)
Name[ff]=Henorde Hesere (Conty-Restricted)
Name[fi]=Uusi ikkuna (Conty-Restricted)
Name[fr]=Nouvelle fenêtre (Conty-Restricted)
Name[fy_NL]=Nij finster (Conty-Restricted)
Name[ga_IE]=Fuinneog Nua (Conty-Restricted)
Name[gd]=Uinneag ùr (Conty-Restricted)
Name[gl]=Nova xanela (Conty-Restricted)
Name[gn]=Ovetã pyahu (Conty-Restricted)
Name[gu_IN]=નવી વિન્ડો (Conty-Restricted)
Name[he]=חלון חדש (Conty-Restricted)
Name[hi_IN]=नया विंडो (Conty-Restricted)
Name[hr]=Novi prozor (Conty-Restricted)
Name[hsb]=Nowe wokno (Conty-Restricted)
Name[hu]=Új ablak (Conty-Restricted)
Name[hy_AM]=Նոր Պատուհան (Conty-Restricted)
Name[id]=Jendela Baru (Conty-Restricted)
Name[is]=Nýr gluggi (Conty-Restricted)
Name[it]=Nuova finestra (Conty-Restricted)
Name[ja]=新しいウィンドウ (Conty-Restricted)
Name[ja_JP-mac]=新規ウインドウ (Conty-Restricted)
Name[ka]=ახალი ფანჯარა (Conty-Restricted)
Name[kk]=Жаңа терезе (Conty-Restricted)
Name[km]=បង្អួចថ្មី (Conty-Restricted)
Name[kn]=ಹೊಸ ಕಿಟಕಿ (Conty-Restricted)
Name[ko]=새 창 (Conty-Restricted)
Name[kok]=नवें जनेल (Conty-Restricted)
Name[ks]=نئئ وِنڈو (Conty-Restricted)
Name[lij]=Neuvo barcon (Conty-Restricted)
Name[lo]=ຫນ້າຕ່າງໃຫມ່ (Conty-Restricted)
Name[lt]=Naujas langas (Conty-Restricted)
Name[ltg]=Jauns lūgs (Conty-Restricted)
Name[lv]=Jauns logs (Conty-Restricted)
Name[mai]=नव विंडो (Conty-Restricted)
Name[mk]=Нов прозорец (Conty-Restricted)
Name[ml]=പുതിയ ജാലകം (Conty-Restricted)
Name[mr]=नवीन पटल (Conty-Restricted)
Name[ms]=Tetingkap Baru (Conty-Restricted)
Name[my]=ဝင်းဒိုးအသစ် (Conty-Restricted)
Name[nb_NO]=Nytt vindu (Conty-Restricted)
Name[ne_NP]=नयाँ सञ्झ्याल (Conty-Restricted)
Name[nl]=Nieuw venster (Conty-Restricted)
Name[nn_NO]=Nytt vindauge (Conty-Restricted)
Name[or]=ନୂତନ ୱିଣ୍ଡୋ (Conty-Restricted)
Name[pa_IN]=ਨਵੀਂ ਵਿੰਡੋ (Conty-Restricted)
Name[pl]=Nowe okno (Conty-Restricted)
Name[pt_BR]=Nova janela (Conty-Restricted)
Name[pt_PT]=Nova janela (Conty-Restricted)
Name[rm]=Nova fanestra (Conty-Restricted)
Name[ro]=Fereastră nouă (Conty-Restricted)
Name[ru]=Новое окно (Conty-Restricted)
Name[sat]=नावा विंडो (N) (Conty-Restricted)
Name[si]=නව කවුළුවක් (Conty-Restricted)
Name[sk]=Nové okno (Conty-Restricted)
Name[sl]=Novo okno (Conty-Restricted)
Name[son]=Zanfun taaga (Conty-Restricted)
Name[sq]=Dritare e Re (Conty-Restricted)
Name[sr]=Нови прозор (Conty-Restricted)
Name[sv_SE]=Nytt fönster (Conty-Restricted)
Name[ta]=புதிய சாளரம் (Conty-Restricted)
Name[te]=కొత్త విండో (Conty-Restricted)
Name[th]=หน้าต่างใหม่ (Conty-Restricted)
Name[tr]=Yeni pencere (Conty-Restricted)
Name[tsz]=Eraatarakua jimpani (Conty-Restricted)
Name[uk]=Нове вікно (Conty-Restricted)
Name[ur]=نیا دریچہ (Conty-Restricted)
Name[uz]=Yangi oyna (Conty-Restricted)
Name[vi]=Cửa sổ mới (Conty-Restricted)
Name[wo]=Palanteer bu bees (Conty-Restricted)
Name[xh]=Ifestile entsha (Conty-Restricted)
Name[zh_CN]=新建窗口 (Conty-Restricted)
Name[zh_TW]=開新視窗 (Conty-Restricted)
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads env UBUNTU_MENUPROXY=0 /usr/lib/firefox/firefox --new-window %u

[Desktop Action new-private-window]
Name=New Private Window (Conty-Restricted)
Name[ach]=Dirica manyen me mung (Conty-Restricted)
Name[af]=Nuwe privaatvenster (Conty-Restricted)
Name[an]=Nueva finestra privada (Conty-Restricted)
Name[ar]=نافذة خاصة جديدة (Conty-Restricted)
Name[as]=নতুন ব্যক্তিগত উইন্ডো (Conty-Restricted)
Name[ast]=Ventana privada nueva (Conty-Restricted)
Name[az]=Yeni Məxfi Pəncərə (Conty-Restricted)
Name[be]=Новае акно адасаблення (Conty-Restricted)
Name[bg]=Нов прозорец за поверително сърфиране (Conty-Restricted)
Name[bn_BD]=নতুন ব্যক্তিগত উইন্ডো (Conty-Restricted)
Name[bn_IN]=নতুন ব্যক্তিগত উইন্ডো (Conty-Restricted)
Name[br]=Prenestr merdeiñ prevez nevez (Conty-Restricted)
Name[brx]=गोदान प्राइभेट उइन्ड' (Conty-Restricted)
Name[bs]=Novi privatni prozor (Conty-Restricted)
Name[ca]=Finestra privada nova (Conty-Restricted)
Name[cak]=K'ak'a' ichinan tzuwäch (Conty-Restricted)
Name[cs]=Nové anonymní okno (Conty-Restricted)
Name[cy]=Ffenestr Breifat Newydd (Conty-Restricted)
Name[da]=Nyt privat vindue (Conty-Restricted)
Name[de]=Neues privates Fenster (Conty-Restricted)
Name[dsb]=Nowe priwatne wokno (Conty-Restricted)
Name[el]=Νέο παράθυρο ιδιωτικής περιήγησης (Conty-Restricted)
Name[en_GB]=New Private Window (Conty-Restricted)
Name[en_US]=New Private Window (Conty-Restricted)
Name[en_ZA]=New Private Window (Conty-Restricted)
Name[eo]=Nova privata fenestro (Conty-Restricted)
Name[es_AR]=Nueva ventana privada (Conty-Restricted)
Name[es_CL]=Nueva ventana privada (Conty-Restricted)
Name[es_ES]=Nueva ventana privada (Conty-Restricted)
Name[es_MX]=Nueva ventana privada (Conty-Restricted)
Name[et]=Uus privaatne aken (Conty-Restricted)
Name[eu]=Leiho pribatu berria (Conty-Restricted)
Name[fa]=پنجره ناشناس جدید (Conty-Restricted)
Name[ff]=Henorde Suturo Hesere (Conty-Restricted)
Name[fi]=Uusi yksityinen ikkuna (Conty-Restricted)
Name[fr]=Nouvelle fenêtre de navigation privée (Conty-Restricted)
Name[fy_NL]=Nij priveefinster (Conty-Restricted)
Name[ga_IE]=Fuinneog Nua Phríobháideach (Conty-Restricted)
Name[gd]=Uinneag phrìobhaideach ùr (Conty-Restricted)
Name[gl]=Nova xanela privada (Conty-Restricted)
Name[gn]=Ovetã ñemi pyahu (Conty-Restricted)
Name[gu_IN]=નવી ખાનગી વિન્ડો (Conty-Restricted)
Name[he]=חלון פרטי חדש (Conty-Restricted)
Name[hi_IN]=नयी निजी विंडो (Conty-Restricted)
Name[hr]=Novi privatni prozor (Conty-Restricted)
Name[hsb]=Nowe priwatne wokno (Conty-Restricted)
Name[hu]=Új privát ablak (Conty-Restricted)
Name[hy_AM]=Սկսել Գաղտնի դիտարկում (Conty-Restricted)
Name[id]=Jendela Mode Pribadi Baru (Conty-Restricted)
Name[is]=Nýr huliðsgluggi (Conty-Restricted)
Name[it]=Nuova finestra anonima (Conty-Restricted)
Name[ja]=新しいプライベートウィンドウ (Conty-Restricted)
Name[ja_JP-mac]=新規プライベートウインドウ (Conty-Restricted)
Name[ka]=ახალი პირადი ფანჯარა (Conty-Restricted)
Name[kk]=Жаңа жекелік терезе (Conty-Restricted)
Name[km]=បង្អួចឯកជនថ្មី (Conty-Restricted)
Name[kn]=ಹೊಸ ಖಾಸಗಿ ಕಿಟಕಿ (Conty-Restricted)
Name[ko]=새 사생활 보호 모드 (Conty-Restricted)
Name[kok]=नवो खाजगी विंडो (Conty-Restricted)
Name[ks]=نْو پرایوٹ وینڈو (Conty-Restricted)
Name[lij]=Nêuvo barcón privòu (Conty-Restricted)
Name[lo]=ເປີດຫນ້າຕ່າງສວນຕົວຂື້ນມາໃຫມ່ (Conty-Restricted)
Name[lt]=Naujas privataus naršymo langas (Conty-Restricted)
Name[ltg]=Jauns privatais lūgs (Conty-Restricted)
Name[lv]=Jauns privātais logs (Conty-Restricted)
Name[mai]=नया निज विंडो (W) (Conty-Restricted)
Name[mk]=Нов приватен прозорец (Conty-Restricted)
Name[ml]=പുതിയ സ്വകാര്യ ജാലകം (Conty-Restricted)
Name[mr]=नवीन वैयक्तिक पटल (Conty-Restricted)
Name[ms]=Tetingkap Persendirian Baharu (Conty-Restricted)
Name[my]=New Private Window (Conty-Restricted)
Name[nb_NO]=Nytt privat vindu (Conty-Restricted)
Name[ne_NP]=नयाँ निजी सञ्झ्याल (Conty-Restricted)
Name[nl]=Nieuw privévenster (Conty-Restricted)
Name[nn_NO]=Nytt privat vindauge (Conty-Restricted)
Name[or]=ନୂତନ ବ୍ୟକ୍ତିଗତ ୱିଣ୍ଡୋ (Conty-Restricted)
Name[pa_IN]=ਨਵੀਂ ਪ੍ਰਾਈਵੇਟ ਵਿੰਡੋ (Conty-Restricted)
Name[pl]=Nowe okno prywatne (Conty-Restricted)
Name[pt_BR]=Nova janela privativa (Conty-Restricted)
Name[pt_PT]=Nova janela privada (Conty-Restricted)
Name[rm]=Nova fanestra privata (Conty-Restricted)
Name[ro]=Fereastră privată nouă (Conty-Restricted)
Name[ru]=Новое приватное окно (Conty-Restricted)
Name[sat]=नावा निजेराक् विंडो (W ) (Conty-Restricted)
Name[si]=නව පුද්ගලික කවුළුව (W) (Conty-Restricted)
Name[sk]=Nové okno v režime Súkromné prehliadanie (Conty-Restricted)
Name[sl]=Novo zasebno okno (Conty-Restricted)
Name[son]=Sutura zanfun taaga (Conty-Restricted)
Name[sq]=Dritare e Re Private (Conty-Restricted)
Name[sr]=Нови приватан прозор (Conty-Restricted)
Name[sv_SE]=Nytt privat fönster (Conty-Restricted)
Name[ta]=புதிய தனிப்பட்ட சாளரம் (Conty-Restricted)
Name[te]=కొత్త ఆంతరంగిక విండో (Conty-Restricted)
Name[th]=หน้าต่างส่วนตัวใหม่ (Conty-Restricted)
Name[tr]=Yeni gizli pencere (Conty-Restricted)
Name[tsz]=Juchiiti eraatarakua jimpani (Conty-Restricted)
Name[uk]=Приватне вікно (Conty-Restricted)
Name[ur]=نیا نجی دریچہ (Conty-Restricted)
Name[uz]=Yangi maxfiy oyna (Conty-Restricted)
Name[vi]=Cửa sổ riêng tư mới (Conty-Restricted)
Name[wo]=Panlanteeru biir bu bees (Conty-Restricted)
Name[xh]=Ifestile yangasese entsha (Conty-Restricted)
Name[zh_CN]=新建隐私浏览窗口 (Conty-Restricted)
Name[zh_TW]=新增隱私視窗 (Conty-Restricted)
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads env UBUNTU_MENUPROXY=0 /usr/lib/firefox/firefox --private-window %u
