[Desktop Entry]
Name[de]=AdwSteamGtk (Conty-Restricted)
Name[fr]=AdwSteamGtk (Conty-Restricted)
Name[ru]=AdwSteamGtk (Conty-Restricted)
Name[uk]=AdwSteamGtk (Conty-Restricted)
Name[pt_BR]=AdwSteamGtk (Conty-Restricted)
Name=AdwSteamGtk (Conty-Restricted)
Comment[de]=Ein einfacher Wrapper der Adwaita for Steam installiert
Comment[fr]=Un utilitaire simple qui installe Adwaita pour Steam
Comment[ru]=Простое приложение для установки темы Adwaita для Steam
Comment[uk]=Простий додаток який встановлює тему Adwaita для Steam
Comment[pt_BR]=Um wrapper simples que instala o Adwaita para Steam
Comment=A simple wrapper that installs Adwaita for Steam
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/var/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads adwaita-steam-gtk
Icon=io.github.Foldex.AdwSteamGtk
Terminal=false
Type=Application
Categories=GTK;Utility
Keywords[fr]=Steam;Adwaita;Skin;
Keywords[ru]=Steam;Adwaita;Skin;стим;скин;тема;
Keywords[uk]=Steam;Adwaita;Skin;стім;тема;скін;
Keywords[pt_BR]=Steam;Adwaita;Capa;
Keywords=Steam;Adwaita;Skin;
StartupNotify=true
