[Desktop Entry]
Version=1.0
Name=Sound Converter (Conty-Restricted)
Name[ar]=محول صيغ صوتية (Conty-Restricted)
Name[ast]=Camudador de soniu (Conty-Restricted)
Name[bg]=Sound Converter (Conty-Restricted)
Name[br]=Amdroer Sound Converter (Conty-Restricted)
Name[ca]=Convertidor de so (Conty-Restricted)
Name[cs]=Převaděč zvuků (Conty-Restricted)
Name[da]=Lydkonvertering (Conty-Restricted)
Name[de]=Klangumwandler (Conty-Restricted)
Name[el]=Μετατροπέας Ηχου (Conty-Restricted)
Name[en_AU]=Sound Converter (Conty-Restricted)
Name[en_GB]=Sound Converter (Conty-Restricted)
Name[eo]=Sonkonvertilo (Conty-Restricted)
Name[es]=Conversor de sonido (Conty-Restricted)
Name[et]=Heli teisendaja (Conty-Restricted)
Name[eu]=Soinu-bihurtzailea (Conty-Restricted)
Name[fi]=Äänitiedostojen muunnin (Conty-Restricted)
Name[fr]=Convertisseur de sons (Conty-Restricted)
Name[fr_CA]=Convertisseur de sons (Conty-Restricted)
Name[fr_FR]=Convertisseur audio (Conty-Restricted)
Name[gl]=Sound Converter (Conty-Restricted)
Name[he]=ממיר סאונד (Conty-Restricted)
Name[hi]=दवानी बदलनेवला (Conty-Restricted)
Name[hu]=Hangátalakító (Conty-Restricted)
Name[it]=Sound Converter (Conty-Restricted)
Name[ja]=サウンド変換 (Conty-Restricted)
Name[ka]=Sound Converter (Conty-Restricted)
Name[ko]=사운드 컨버터 (Conty-Restricted)
Name[lt]=Garso keitiklis (Conty-Restricted)
Name[lv]=Skaņas pārveidotājs (Conty-Restricted)
Name[ms]=Penukar Bunyi (Conty-Restricted)
Name[nb]=Lydkonvertering (Conty-Restricted)
Name[nl]=Geluidsconverteerder (Conty-Restricted)
Name[pl]=Konwerter dźwięku (Conty-Restricted)
Name[pt]=Conversor de som (Conty-Restricted)
Name[pt_BR]=Conversor de som (Conty-Restricted)
Name[ro]=Convertor de sunet (Conty-Restricted)
Name[ru]=Аудиоконвертер (Conty-Restricted)
Name[sk]=Zvukový konvertor (Conty-Restricted)
Name[sl]=Pretvornik zvoka (Conty-Restricted)
Name[sr]=Претварач звука (Conty-Restricted)
Name[sr@Latn]=Prekoder zvuka (Conty-Restricted)
Name[sr@latin]=Prekoder zvuka (Conty-Restricted)
Name[sv]=Ljudkonverterare (Conty-Restricted)
Name[te]=శబ్ద పరివర్తకం (Conty-Restricted)
Name[tr]=Ses Dönüştürücü (Conty-Restricted)
Name[uk]=Конвертер аудіо (Conty-Restricted)
Name[vi]=Bộ chuyển đổi âm thanh (Conty-Restricted)
Name[zh_CN]=音频转换器 (Conty-Restricted)
Name[zh_TW]=Sound Converter (Conty-Restricted)
GenericName=Audio Format Converter
GenericName[ar]=محول صيغ الملفات الصوتية
GenericName[ast]=Camudador d'archivos de soniu
GenericName[bg]=Конвертор на аудио формати
GenericName[br]=Amdroer mentrezhoù aodio
GenericName[ca]=Convertidor de formats d'àudio
GenericName[cs]=Převaděč zvukových formátů
GenericName[da]=Lydformat-konvertering
GenericName[de]=Audio-Formatumwandlung
GenericName[el]=Μετατροπέας Αρχείων Ηχου
GenericName[en_AU]=Audio Format Converter
GenericName[en_GB]=Audio Format Converter
GenericName[eo]=Konvertilo por sonformoj
GenericName[es]=Conversor de formatos de audio
GenericName[et]=Heli vormingu teisendaja
GenericName[eu]=Audio Formatu Bihurtzailea
GenericName[fi]=Äänitiedostojen muunnin
GenericName[fr]=Convertisseur de formats de sons
GenericName[fr_CA]=Convertisseur de formats de sons
GenericName[fr_FR]=Convertisseur de fichiers audio
GenericName[gl]=Convertedor de formatos de son
GenericName[he]=ממיר פורמטים של אודיו
GenericName[hu]=Hangformátum-átalakító
GenericName[it]=Convertitore Formati Audio
GenericName[ja]=オーディオフォーマット変換器
GenericName[ka]=აუდიო ფორმატების გადამყვანი
GenericName[ko]=소리 형식 변환기
GenericName[lt]=Garso formatų keitiklis
GenericName[lv]=Audio formātu pārveidotājs
GenericName[ms]=Penukar Format Audio
GenericName[nb]=Lydformat-konvertering
GenericName[nl]=Geluidsformaat-converteerder
GenericName[pl]=Konwerter formatów dźwięku
GenericName[pt]=Conversos de formatos áudio
GenericName[pt_BR]=Conversor de formato de áudio
GenericName[ro]=Convertor de formate audio
GenericName[ru]=Конвертер форматов аудио
GenericName[sk]=Prevod formátov zvuku
GenericName[sl]=Pretvornik zapisov zvoka
GenericName[sq]=Konvertues formatesh audio
GenericName[sr]=Претварач звучног записа
GenericName[sr@Latn]=Prekodiranje zvučnih formata
GenericName[sr@latin]=Prekodiranje zvučnih formata
GenericName[sv]=Ljudformatskonverterare
GenericName[te]=ఆడియో ఆకృతి పరివర్తకం
GenericName[tr]=Ses Biçimi Dönüştürücü
GenericName[uk]=Конвертер аудіоформатів
GenericName[vi]=Bộ chuyển định dạng Audio
GenericName[zh_CN]=音频格式转换程序
GenericName[zh_TW]=聲音格式轉檔工具
Comment=Converts audio files into other formats
Comment[ar]=تحويل الملفات الصوتية إلى صيغ أخرة
Comment[bg]=Конвертирне на аудио файлове в различни формати
Comment[br]=Amdreiñ ar restroù aodio da mentrezhoù all
Comment[ca]=Converteix fitxers d'àudio a altres formats
Comment[cs]=Převádí audio soubory do různých formátů
Comment[de]=Konvertiert Klangdateien in andere Formate
Comment[el]=Μετατρέπει αρχεία ήχου σε άλλες μορφές
Comment[en_GB]=Converts audio files into other formats
Comment[es]=Convierte archivos de audio a otros formatos
Comment[eu]=Audio fitxategiak beste formatuetara bihurtzen ditu
Comment[fi]=Muunna äänitiedostoja eri tiedostomuotoihin
Comment[fr]=Convertit des fichiers son en d’autres formats
Comment[fr_CA]=Convertit des fichiers son en d’autres formats
Comment[fr_FR]=Convertit des fichiers audio en d'autres formats
Comment[gl]=Converte os ficheiros de son a outros formatos
Comment[hu]=Hangfájlokat alakít át más formátumokba
Comment[it]=Converti file audio in altri formati
Comment[ja]=オーディオファイルを他のフォーマットに変換します
Comment[ka]=აუდიო ფაილების სხვა ფორმატებში გადაყვანა
Comment[ko]=소리 파일들을 다른 형식으로 변환
Comment[lt]=Konvertuoja garso failus į kitus formatus
Comment[lv]=Pārveido audio datnes citos formātos
Comment[ms]=Tukar fail audio kepada format lain
Comment[nb]=Konverterer lydfiler til andre formater
Comment[nl]=Converteert geluidsbestanden naar andere formaten
Comment[pl]=Konwertuje pliki dźwiękowe do innych formatów
Comment[pt]=Converte os ficheiros de áudio em diversos formatos
Comment[pt_BR]=Converter arquivos de áudio para outros formatos
Comment[ro]=Transformă fișierele audio în alte formate
Comment[ru]=Преобразование звуковых файлов в другие форматы
Comment[sk]=Prevádza audio súbory do rôznych formátov
Comment[sl]=Pretvori zvočne datoteke v druge formate
Comment[sq]=Konverton skedarët audio në formate të tjera
Comment[sr]=Претварајте звучне датотеке у друге записе
Comment[sr@latin]=Konvertuje audio fajlove u druge formate
Comment[sv]=Konverterar ljudfiler till andra format
Comment[tr]=Ses dosyalarını diğer biçimlere dönüştürür
Comment[uk]=Конвертує звукові файли в інші формати
Comment[zh_CN]=将音频文件转为其他格式
Comment[zh_TW]=將聲音檔轉換至其他格式
Icon=soundconverter
MimeType=application/x-ogg;application/ogg;audio/x-mp3;audio/x-scpls;audio/x-mpeg;audio/mpeg;audio/x-mpegurl;application/x-flac;audio/x-wav;audio/flac;audio/x-opus+ogg;
Exec=env HOME_DIR="/home/fenglengshun/Documents/container/conty" "/home/fenglengshun/.local/bin/conty.sh" --bind /home/fenglengshun/Games /home/fenglengshun/Games --bind /home/fenglengshun/Storage /home/fenglengshun/Storage --bind /home/fenglengshun/Documents /home/fenglengshun/Documents --bind /home/fenglengshun/Downloads /home/fenglengshun/Downloads soundconverter %U
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;AudioVideo;AudioVideoEditing;

