[Desktop Entry]
Name=An Anime Game Launcher (Conty-Unrestricted)
Comment=An Launcher for a specific anime game with auto-patching, discord rpc and time tracking
Exec="/var/home/fenglengshun/.local/bin/conty.sh" an-anime-game-launcher
Terminal=false
Type=Application
Icon=moe.launcher.an-anime-game-launcher
Categories=Game
