[Desktop Entry]
Name[it]=Bottles (Conty-Unrestricted)
Name[fr]=Bouteilles (Conty-Unrestricted)
Name[de]=Bottles (Conty-Unrestricted)
Name[hi]=Bottles (Conty-Unrestricted)
Name[pt]=Bottles (Conty-Unrestricted)
Name[es]=Botellas (Conty-Unrestricted)
Name[nb_NO]=Flasker (Conty-Unrestricted)
Name[pt_BR]=Bottles (Conty-Unrestricted)
Name[id]=Bottles (Conty-Unrestricted)
Name[nl]=Bottles (Conty-Unrestricted)
Name[tr]=Şişeler (Conty-Unrestricted)
Name[sv]=Bottles (Conty-Unrestricted)
Name[ru]=Bottles (Conty-Unrestricted)
Name[eo]=Boteloj (Conty-Unrestricted)
Name[zh_Hans]=Bottles (Conty-Unrestricted)
Name[fi]=Pullot (Conty-Unrestricted)
Name[ja]=Bottles (Conty-Unrestricted)
Name[hr]=Butelje (Conty-Unrestricted)
Name[cs]=Láhve (Conty-Unrestricted)
Name[uk]=Bottles (Conty-Unrestricted)
Name[hu]=Palackok (Conty-Unrestricted)
Name[pl]=Bottles (Conty-Unrestricted)
Name[zh_Hant]=Bottles (Conty-Unrestricted)
Name[ko]=Bottles (Conty-Unrestricted)
Name[vi]=Bottles (Conty-Unrestricted)
Name[eu]=Bottles (Conty-Unrestricted)
Name[bg]=„Bottles“ (Conty-Unrestricted)
Name[el]=Bottles (Conty-Unrestricted)
Name[gl]=Botellas (Conty-Unrestricted)
Name[sk]=Fľaše (Conty-Unrestricted)
Name[ro]=Sticle (Conty-Unrestricted)
Name[ms]=Botol (Conty-Unrestricted)
Name[ckb]=بۆتڵز (Conty-Unrestricted)
Name[fa]=بطری‌ها (Conty-Unrestricted)
Name[th]=ขวด (Conty-Unrestricted)
Name[ar]=القوارير (Conty-Unrestricted)
Name[bn]=Bottles (Conty-Unrestricted)
Name[sl]=Steklenice (Conty-Unrestricted)
Name[ca]=Bottles (Conty-Unrestricted)
Name[lt]=Bottles (Conty-Unrestricted)
Name[sr]=Флаше (Conty-Unrestricted)
Name[ta]=பாட்டில்கள் (Conty-Unrestricted)
Name[ie]=Botelles (Conty-Unrestricted)
Name=Bottles (Conty-Unrestricted)
Comment[fr]=Exécutez des logiciels Windows
Comment[pt_BR]=Execute programas do Windows
Comment[nl]=Voer Windows-software uit
Comment[tr]=Windows yazılımlarını çalıştırın
Comment[ru]=Запуск программ Windows
Comment[zh_Hans]=运行 Windows 软件
Comment[fi]=Suorita Windows-ohjelmistoja
Comment[cs]=Spuštění softwaru systému Windows
Comment[uk]=Запуск програм Windows
Comment[hu]=Windows szoftverek futtatása
Comment[zh_Hant]=執行 Windows軟體
Comment[bg]=Използвайте софтуер за „Windows“
Comment[ar]=شغِّل برامج ويندوز
Comment[ta]=விண்டோஸ் மென்பொருளை இயக்கவும்
Comment[ie]=Executer programmas por Windows
Comment=Run Windows Software
Icon=com.usebottles.bottles
Exec="/var/home/fenglengshun/.local/bin/conty.sh" bottles %u
Terminal=false
Type=Application
Categories=Utility;GNOME;GTK;
StartupNotify=true
StartupWMClass=bottles
MimeType=x-scheme-handler/bottles;application/x-ms-dos-executable;application/x-msi;application/x-ms-shortcut;application/x-wine-extension-msp;
Keywords[it]=wine;windows;
Keywords[fr]=wine;windows;
Keywords[de]=Wine;Windows;
Keywords[hi]=wine;windows;
Keywords[pt]=wine;windows;
Keywords[es]=wine;windows;
Keywords[nb_NO]=WINE;Windows;
Keywords[pt_BR]=wine;windows;
Keywords[id]=wine;windows;
Keywords[nl]=wine;windows;
Keywords[tr]=wine;windows;
Keywords[sv]=wine;windows;
Keywords[ru]=wine;windows;
Keywords[eo]=wine;windows;
Keywords[zh_Hans]=wine;windows;
Keywords[fi]=wine;windows;
Keywords[ja]=wine;windows;
Keywords[hr]=wine;windows;
Keywords[cs]=wine;windows;
Keywords[uk]=wine;windows;
Keywords[hu]=wine;windows
Keywords[pl]=wine;windows;
Keywords[zh_Hant]=wine;windows;
Keywords[ko]=wine;windows;
Keywords[vi]=wine;windows;
Keywords[eu]=wine;windows;
Keywords[bg]=wine;windows;
Keywords[el]=wine;windows;
Keywords[gl]=wine;windows;
Keywords[ro]=wine;windows;
Keywords[ms]=wine;windows;
Keywords[ckb]=واین؛ویندۆز;
Keywords[fa]=wine؛ویندوز؛
Keywords[th]=wine;windows;
Keywords[ar]=wine;windows;
Keywords[bn]=ওয়াইন;উইন্ডোজ;
Keywords[ca]=wine;windows;
Keywords[lt]=wine;windows;
Keywords[sr]=вајн;виндовс;
Keywords[et]=wine;windows;
Keywords[ta]=ஒயின்;விண்டோஸ்;
Keywords[ie]=wine;windows;
Keywords=wine;windows;
X-GNOME-UsesNotifications=true
