[Desktop Entry]
Name=Discover Overlay (Conty-Unrestricted)
Comment=Voice chat overlay
Exec="/var/home/fenglengshun/.local/bin/conty.sh" discover-overlay
Icon=discover-overlay
Terminal=false
Type=Application
Actions=close
Categories=Utility;TelephonyTools
Keywords=Discord

[Desktop Action close]
Name=Close (Conty-Unrestricted)
Exec="/var/home/fenglengshun/.local/bin/conty.sh" discover-overlay --rpc --close
