[Desktop Entry]
Name=Discover Overlay Configure (Conty-Unrestricted)
Comment=Voice chat overlay configuration
Exec="/var/home/fenglengshun/.local/bin/conty.sh" discover-overlay --configure
Icon=discover-overlay
Terminal=false
Type=Application
Categories=Utility;TelephonyTools
Keywords=Discord
