[Desktop Entry]
Version=1.0
Icon=dolphin-emu
Exec="/var/home/fenglengshun/.local/bin/conty.sh" env QT_QPA_PLATFORM=xcb dolphin-emu
Terminal=false
Type=Application
Categories=Game;Emulator;
Name=Dolphin Emulator (Conty-Unrestricted)
GenericName=Wii/GameCube Emulator
Comment=A Wii/GameCube Emulator
