# SPDX-FileCopyrightText: Metadata Cleaner contributors
# SPDX-License-Identifier: GPL-3.0-or-later

[Desktop Entry]
Name[fr]=Nettoyeur de métadonnées (Conty-Unrestricted)
Name[de]=Metadaten-Reiniger (Conty-Unrestricted)
Name[es]=Limpiador de metadatos (Conty-Unrestricted)
Name[sv]=Metadata Cleaner (Conty-Unrestricted)
Name[tr]=Üst Veri Temizleyici (Conty-Unrestricted)
Name[hr]=Brisač metapodataka (Conty-Unrestricted)
Name[pt_BR]=Limpador de metadados (Conty-Unrestricted)
Name[nb_NO]=Metadatarenser (Conty-Unrestricted)
Name[fi]=Metatietojen puhdistus (Conty-Unrestricted)
Name[id]=Pembersih Metadata (Conty-Unrestricted)
Name[lt]=Metaduomenų valytojas (Conty-Unrestricted)
Name[it]=Pulitore di Metadati (Conty-Unrestricted)
Name[nl]=Metadata Cleaner (Conty-Unrestricted)
Name[nn]=Metadatareingjøraren (Conty-Unrestricted)
Name[oc]=Netejador de metadonadas (Conty-Unrestricted)
Name[ru]=Metadata Cleaner (Conty-Unrestricted)
Name[hu]=Metaadattisztító (Conty-Unrestricted)
Name[ja]=メタデータクリーナー (Conty-Unrestricted)
Name[ko]=메타데이터 클리너 (Conty-Unrestricted)
Name[eu]=Metadatuen garbitzailea (Conty-Unrestricted)
Name[zh_CN]=属性信息删除器 (Conty-Unrestricted)
Name[ro]=Curățător de Metadate (Conty-Unrestricted)
Name[cs]=Čistič metadat (Conty-Unrestricted)
Name[gl]=Limpador de metadatos (Conty-Unrestricted)
Name[pl]=Czyściciel Metadanych (Conty-Unrestricted)
Name[pt]=Limpador de metadados (Conty-Unrestricted)
Name[bn]=মেটাডেটা ক্লিনার (Conty-Unrestricted)
Name[uk]=Очищувач метаданих (Conty-Unrestricted)
Name[az]=Metadata Təmizləyicisi (Conty-Unrestricted)
Name[fy]=Metadata Opskjinner (Conty-Unrestricted)
Name[ta]=மெட்டாடேட்டா கிளீனர் (Conty-Unrestricted)
Name[sr]=Чистач Метаподатака (Conty-Unrestricted)
Name[ar]=منظف البيانات الوصفية (Conty-Unrestricted)
Name[ur]=میٹاڈیٹا کلینر (Conty-Unrestricted)
Name[eo]=Purigo de metadatumo (Conty-Unrestricted)
Name=Metadata Cleaner (Conty-Unrestricted)
GenericName[fr]=Nettoyeur de métadonnées
GenericName[de]=Metadaten-Reiniger
GenericName[es]=Limpiador de metadatos
GenericName[sv]=Metadata Cleaner
GenericName[tr]=Üst Veri Temizleyici
GenericName[hr]=Brisač metapodataka
GenericName[pt_BR]=Limpador de metadados
GenericName[nb_NO]=Metadatarenser
GenericName[fi]=Metatietojen puhdistus
GenericName[id]=Pembersih Metadata
GenericName[lt]=Metaduomenų valytojas
GenericName[it]=Pulitore di Metadati
GenericName[nl]=Metadata Cleaner
GenericName[nn]=Metadatareingjøraren
GenericName[oc]=Netejador de metadonadas
GenericName[ru]=Metadata Cleaner
GenericName[hu]=Metaadattisztító
GenericName[ja]=メタデータクリーナー
GenericName[ko]=메타데이터 클리너
GenericName[eu]=Metadatuen garbitzailea
GenericName[zh_CN]=属性信息删除器
GenericName[ro]=Curățător de Metadate
GenericName[cs]=Čistič metadat
GenericName[gl]=Limpador de metadatos
GenericName[pl]=Czyściciel Metadanych
GenericName[pt]=Limpador de metadados
GenericName[bn]=মেটাডেটা ক্লিনার
GenericName[uk]=Очищувач метаданих
GenericName[az]=Metadata Təmizləyicisi
GenericName[fy]=Metadata Opskjinner
GenericName[ta]=மெட்டாடேட்டா கிளீனர்
GenericName[sr]=Чистач Метаподатака
GenericName[ar]=منظف البيانات الوصفية
GenericName[ur]=میٹاڈیٹا کلینر
GenericName[eo]=Purigo de metadatumo
GenericName=Metadata Cleaner
Comment[fr]=Nettoie les métadonnées de vos fichiers
Comment[de]=Bereinige deine Dateien von Metadaten
Comment[es]=Limpiar los metadatos de sus archivos
Comment[sv]=Rensa bort metadata från dina filer
Comment[tr]=Dosyalarınızdaki üst verileri temizleyin
Comment[hr]=Izbriši metapodatke iz datoteka
Comment[pt_BR]=Limpe os metadados dos seus arquivos
Comment[nb_NO]=Fjern metadata fra filene dine
Comment[fi]=Poista metatiedot tiedostoistasi
Comment[id]=Membersihkan berkas Anda dari metadata
Comment[lt]=Išvalyti failų metaduomenis
Comment[it]=Pulisci i metadati dai tuoi file
Comment[nl]=Verwijder metagegevens uit uw bestanden
Comment[da]=Rens metadata fra dine filer
Comment[nn]=Reingjør filane dine for metadata
Comment[oc]=Neteja las metadonas dels fichièrs
Comment[ru]=Очистите файлы от метаданных
Comment[hu]=Metaadatok kitisztítása a fájljaiból
Comment[ja]=ファイルからメタデータを除去
Comment[ko]=사용자 파일의 메타데이터를 정리합니다
Comment[eu]=Garbitu metadatuak zure fitxategietatik
Comment[zh_CN]=删除文件里的元数据
Comment[ro]=Curățați metadatele din fișierele dumneavoastră
Comment[cs]=Vyčistit metadata ze souborů
Comment[gl]=Limpar os metadatos dos seus ficheiros
Comment[pl]=Usuń metadane ze swoich plików
Comment[pt]=Limpar os metadados de seus ficheiros
Comment[bn]=আপনার ফাইলগুলো থেকে মেটাডেটা অপসারণ করুন
Comment[uk]=Очистьте метадані своїх файлів
Comment[el]=Καθάριστε τα μεταδεδομένα από τα αρχεία σας
Comment[az]=Fayllarınızdan metadata'nı təmizləyin
Comment[fy]=De metadata fan jo triemen opskjinje
Comment[ta]=உங்கள் கோப்புகளிலிருந்து மெட்டாடேட்டாவை சுத்தம் செய்யவும்
Comment[sr]=Очисти метаподатке са својих фајлова
Comment[ar]=نظف البيانات الوصفية من ملفاتك
Comment[ur]=آپکی فائلوں سے میٹا ڈیٹا صاف کرتاہے
Comment[eo]=Purigas matadatumon el viaj dosieroj
Comment=Clean metadata from your files
Icon=fr.romainvigier.MetadataCleaner
Exec="/home/fenglengshun/.local/bin/conty.sh" /usr/bin/metadata-cleaner %F
Type=Application
DBusActivatable=true
Categories=GNOME;GTK;Utility;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[fr]=Métadonnées;Metadata;Supprimer;Effacer;Nettoyer;
Keywords[de]=Metadaten;Reiniger;Entferner;
Keywords[es]=Metadata;Remover;Cleaner;Metadatos;Limpiador;
Keywords[sv]=Metadata;Borttagning;Rensning;
Keywords[tr]=Metadata;Remover;Cleaner;Üst veri;Kaldırıcı;Temizleyici;
Keywords[hr]=Metapodaci;uklanjanje;brisanje;brisač;
Keywords[pt_BR]=Metadata;Remover;Cleaner;Metadado;Removedor;Limpador;
Keywords[nb_NO]=Metadata;renser;fjerning;
Keywords[fi]=Metadata;Remover;Cleaner;poista;metatiedot;
Keywords[id]=Metadata;Penghapus;Pembersih;
Keywords[lt]=Metaduomenys;Šalintojas;Valytojas;
Keywords[it]=Metadati;Rimuovitore;Pulitore;
Keywords[nl]=Metadata;Metagegevens;Cleaner;Verwijdering;Verwijderen;Schoomaker;Wissen;Opruimen;Opschonen;
Keywords[nn]=Metadata;reingjør;reingjøring;
Keywords[oc]=metadonas;tirar;suprimir;levar;netejador;
Keywords[ru]=Метаданные;Удаление;Очистка;
Keywords[hu]=Metaadat;Eltávolító;Tisztító;
Keywords[ja]=Metadata;Remover;Cleaner;メタデータ;削除ツール;クリーナー;
Keywords[ko]=Metadata;Remover;Cleaner;메타데이터;클리너;제거도구;정리도구;청소도구;리무버;
Keywords[eu]=Metadatuak;Ezabatzailea;Garbitzailea;
Keywords[zh_CN]=元数据;属性;删除;清理;
Keywords[ro]=Metadate;Eliminător;Curățător;
Keywords[cs]=Metadata;Odstraňovač;Čistič;
Keywords[gl]=Metadatos;Eliminador;Metadatos;Limpador;
Keywords[pl]=Metadane;Usuwacz;Oczyszczacz;
Keywords[pt]=Metadado;Metainformação;Eliminar;Remover;Limpador;
Keywords[uk]=Метадані;Очищувач;Metadata;Remover;Cleaner;
Keywords[el]=Μεταδεδομένα;Αφαιρετής;Καθαριστής;
Keywords[az]=Metadata;Təmizləyici;Təmizləyici
Keywords[fy]=Metadata;Opskjinje;Opskjinner;Fuortsmite;
Keywords[ta]=மெட்டாடேட்டா;நீக்குபவர்;துப்புரவாளர்;
Keywords[sr]=Метаподаци;Уклањач;Чистач;
Keywords[ar]=بيانات وصفية;مزيل;منظف;
Keywords[ur]=میٹا ڈیٹا; ہٹانے والا; صفاءئکرنےوالا;
Keywords[eo]=Metadatumo;Purigilo;
Keywords=Metadata;Remover;Cleaner;
