[Desktop Entry]
Type=Application
Exec="/home/fenglengshun/.local/bin/conty.sh" kde-geo-uri-handler --coordinate-template "https://www.google.com/maps/@<LAT>,<LON>,<Z>z" --query-template "https://www.google.com/maps/search/<Q>" --fallback "https://www.google.com/maps/" %u
Name=Google Maps (Conty-Unrestricted)
Name[ar]=خرائط غوغل (Conty-Unrestricted)
Name[ca]=Google Maps (Conty-Unrestricted)
Name[ca@valencia]=Google Maps (Conty-Unrestricted)
Name[cs]=Mapy Google (Conty-Unrestricted)
Name[de]=Google Maps (Conty-Unrestricted)
Name[en_GB]=Google Maps (Conty-Unrestricted)
Name[eo]=Google Maps (Conty-Unrestricted)
Name[es]=Google Maps (Conty-Unrestricted)
Name[eu]=Google Maps (Conty-Unrestricted)
Name[fi]=Google Maps (Conty-Unrestricted)
Name[fr]=Google Maps (Conty-Unrestricted)
Name[gl]=Google Maps (Conty-Unrestricted)
Name[hi]=गूगल मैप्स (Conty-Unrestricted)
Name[it]=Mappe di Google (Conty-Unrestricted)
Name[ka]=Google Maps (Conty-Unrestricted)
Name[ko]=Google 지도 (Conty-Unrestricted)
Name[nl]=Google Maps (Conty-Unrestricted)
Name[nn]=Google Maps (Conty-Unrestricted)
Name[pl]=Mapy Google (Conty-Unrestricted)
Name[pt]=Google Maps (Conty-Unrestricted)
Name[pt_BR]=Google Maps (Conty-Unrestricted)
Name[ro]=Hărți Google (Conty-Unrestricted)
Name[ru]=Карты Google (Conty-Unrestricted)
Name[sk]=Google Maps (Conty-Unrestricted)
Name[sl]=Google Maps (Conty-Unrestricted)
Name[sv]=Google kartor (Conty-Unrestricted)
Name[tr]=Google Haritalar (Conty-Unrestricted)
Name[uk]=Карти Google (Conty-Unrestricted)
Name[vi]=Google Bản đồ (Conty-Unrestricted)
Name[x-test]=xxGoogle Mapsxx (Conty-Unrestricted)
Name[zh_CN]=Google Maps (Conty-Unrestricted)
Icon=map-globe
MimeType=x-scheme-handler/geo;
Terminal=false
NoDisplay=true
