[Desktop Entry]
Type=Application
Version=1.0
Name=Converseen (Conty-Unrestricted)
GenericName=Converseen
GenericName[en_GB]=Converseen
GenericName[fr]=Converseen
GenericName[it]=Converseen
GenericName[ru]=Converseen
GenericName[ro]=Converseen
Comment=Batch image converter
Comment[fr]=Convertisseur d'images par lots
Comment[it]=Convertitore batch di immagini
Comment[ru]=Пакетное преобразование изображений
Comment[ro]=Batch converter pentru imagini
Exec="/home/fenglengshun/.local/bin/conty.sh" converseen
Icon=converseen
Terminal=false
Categories=Qt;KDE;Graphics;
