[Desktop Entry]
Name=Steam (Runtime) (Conty-Unrestricted)
Comment=Application for managing and playing games on Steam
Comment[pt_BR]=Aplicativo para jogar e gerenciar jogos no Steam
Comment[bg]=Приложение за ръководене и пускане на игри в Steam
Comment[cs]=Aplikace pro spravování a hraní her ve službě Steam
Comment[da]=Applikation til at håndtere og spille spil på Steam
Comment[nl]=Applicatie voor het beheer en het spelen van games op Steam
Comment[fi]=Steamin pelien hallintaan ja pelaamiseen tarkoitettu sovellus
Comment[fr]=Application de gestion et d'utilisation des jeux sur Steam
Comment[de]=Anwendung zum Verwalten und Spielen von Spielen auf Steam
Comment[el]=Εφαρμογή διαχείρισης παιχνιδιών στο Steam
Comment[hu]=Alkalmazás a Steames játékok futtatásához és kezeléséhez
Comment[it]=Applicazione per la gestione e l'esecuzione di giochi su Steam
Comment[ja]=Steam 上でゲームを管理＆プレイするためのアプリケーション
Comment[ko]=Steam에 있는 게임을 관리하고 플레이할 수 있는 응용 프로그램
Comment[no]=Program for å administrere og spille spill på Steam
Comment[pt_PT]=Aplicação para organizar e executar jogos no Steam
Comment[pl]=Aplikacja do zarządzania i uruchamiania gier na platformie Steam
Comment[ro]=Aplicație pentru administrarea și jucatul jocurilor pe Steam
Comment[ru]=Приложение для игр и управления играми в Steam
Comment[es]=Aplicación para administrar y ejecutar juegos en Steam
Comment[sv]=Ett program för att hantera samt spela spel på Steam
Comment[zh_CN]=管理和进行 Steam 游戏的应用程序
Comment[zh_TW]=管理並執行 Steam 遊戲的應用程式
Comment[th]=โปรแกรมสำหรับจัดการและเล่นเกมบน Steam
Comment[tr]=Steam üzerinden oyun oynama ve düzenleme uygulaması
Comment[uk]=Програма для керування іграми та запуску ігор у Steam
Comment[vi]=Ứng dụng để quản lý và chơi trò chơi trên Steam
Exec="/home/fenglengshun/.local/bin/conty.sh" /usr/bin/steam-runtime %U
Icon=steam
Terminal=false
Type=Application
Categories=Network;FileTransfer;Game;
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
Actions=Store;Community;Library;Servers;Screenshots;News;Settings;BigPicture;Friends;
PrefersNonDefaultGPU=true
X-KDE-RunOnDiscreteGpu=true

[Desktop Action Store]
Name=Store (Conty-Unrestricted)
Name[pt_BR]=Loja (Conty-Unrestricted)
Name[bg]=Магазин (Conty-Unrestricted)
Name[cs]=Obchod (Conty-Unrestricted)
Name[da]=Butik (Conty-Unrestricted)
Name[nl]=Winkel (Conty-Unrestricted)
Name[fi]=Kauppa (Conty-Unrestricted)
Name[fr]=Magasin (Conty-Unrestricted)
Name[de]=Shop (Conty-Unrestricted)
Name[el]=ΚΑΤΑΣΤΗΜΑ (Conty-Unrestricted)
Name[hu]=Áruház (Conty-Unrestricted)
Name[it]=Negozio (Conty-Unrestricted)
Name[ja]=ストア (Conty-Unrestricted)
Name[ko]=상점 (Conty-Unrestricted)
Name[no]=Butikk (Conty-Unrestricted)
Name[pt_PT]=Loja (Conty-Unrestricted)
Name[pl]=Sklep (Conty-Unrestricted)
Name[ro]=Magazin (Conty-Unrestricted)
Name[ru]=Магазин (Conty-Unrestricted)
Name[es]=Tienda (Conty-Unrestricted)
Name[sv]=Butik (Conty-Unrestricted)
Name[zh_CN]=商店 (Conty-Unrestricted)
Name[zh_TW]=商店 (Conty-Unrestricted)
Name[th]=ร้านค้า (Conty-Unrestricted)
Name[tr]=Mağaza (Conty-Unrestricted)
Name[uk]=Крамниця (Conty-Unrestricted)
Name[vi]=Cửa hàng (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://store

[Desktop Action Community]
Name=Community (Conty-Unrestricted)
Name[pt_BR]=Comunidade (Conty-Unrestricted)
Name[bg]=Общност (Conty-Unrestricted)
Name[cs]=Komunita (Conty-Unrestricted)
Name[da]=Fællesskab (Conty-Unrestricted)
Name[nl]=Community (Conty-Unrestricted)
Name[fi]=Yhteisö (Conty-Unrestricted)
Name[fr]=Communauté (Conty-Unrestricted)
Name[de]=Community (Conty-Unrestricted)
Name[el]=Κοινότητα (Conty-Unrestricted)
Name[hu]=Közösség (Conty-Unrestricted)
Name[it]=Comunità (Conty-Unrestricted)
Name[ja]=コミュニティ (Conty-Unrestricted)
Name[ko]=커뮤니티 (Conty-Unrestricted)
Name[no]=Samfunn (Conty-Unrestricted)
Name[pt_PT]=Comunidade (Conty-Unrestricted)
Name[pl]=Społeczność (Conty-Unrestricted)
Name[ro]=Comunitate (Conty-Unrestricted)
Name[ru]=Сообщество (Conty-Unrestricted)
Name[es]=Comunidad (Conty-Unrestricted)
Name[sv]=Gemenskap (Conty-Unrestricted)
Name[zh_CN]=社区 (Conty-Unrestricted)
Name[zh_TW]=社群 (Conty-Unrestricted)
Name[th]=ชุมชน (Conty-Unrestricted)
Name[tr]=Topluluk (Conty-Unrestricted)
Name[uk]=Спільнота (Conty-Unrestricted)
Name[vi]=Cộng đồng (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://url/SteamIDControlPage

[Desktop Action Library]
Name=Library (Conty-Unrestricted)
Name[pt_BR]=Biblioteca (Conty-Unrestricted)
Name[bg]=Библиотека (Conty-Unrestricted)
Name[cs]=Knihovna (Conty-Unrestricted)
Name[da]=Bibliotek (Conty-Unrestricted)
Name[nl]=Bibliotheek (Conty-Unrestricted)
Name[fi]=Kokoelma (Conty-Unrestricted)
Name[fr]=Bibliothèque (Conty-Unrestricted)
Name[de]=Bibliothek (Conty-Unrestricted)
Name[el]=Συλλογή (Conty-Unrestricted)
Name[hu]=Könyvtár (Conty-Unrestricted)
Name[it]=Libreria (Conty-Unrestricted)
Name[ja]=ライブラリ (Conty-Unrestricted)
Name[ko]=라이브러리 (Conty-Unrestricted)
Name[no]=Bibliotek (Conty-Unrestricted)
Name[pt_PT]=Biblioteca (Conty-Unrestricted)
Name[pl]=Biblioteka (Conty-Unrestricted)
Name[ro]=Colecţie (Conty-Unrestricted)
Name[ru]=Библиотека (Conty-Unrestricted)
Name[es]=Biblioteca (Conty-Unrestricted)
Name[sv]=Bibliotek (Conty-Unrestricted)
Name[zh_CN]=库 (Conty-Unrestricted)
Name[zh_TW]=收藏庫 (Conty-Unrestricted)
Name[th]=คลัง (Conty-Unrestricted)
Name[tr]=Kütüphane (Conty-Unrestricted)
Name[uk]=Бібліотека (Conty-Unrestricted)
Name[vi]=Thư viện (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://open/games

[Desktop Action Servers]
Name=Servers (Conty-Unrestricted)
Name[pt_BR]=Servidores (Conty-Unrestricted)
Name[bg]=Сървъри (Conty-Unrestricted)
Name[cs]=Servery (Conty-Unrestricted)
Name[da]=Servere (Conty-Unrestricted)
Name[nl]=Servers (Conty-Unrestricted)
Name[fi]=Palvelimet (Conty-Unrestricted)
Name[fr]=Serveurs (Conty-Unrestricted)
Name[de]=Server (Conty-Unrestricted)
Name[el]=Διακομιστές (Conty-Unrestricted)
Name[hu]=Szerverek (Conty-Unrestricted)
Name[it]=Server (Conty-Unrestricted)
Name[ja]=サーバー (Conty-Unrestricted)
Name[ko]=서버 (Conty-Unrestricted)
Name[no]=Tjenere (Conty-Unrestricted)
Name[pt_PT]=Servidores (Conty-Unrestricted)
Name[pl]=Serwery (Conty-Unrestricted)
Name[ro]=Servere (Conty-Unrestricted)
Name[ru]=Серверы (Conty-Unrestricted)
Name[es]=Servidores (Conty-Unrestricted)
Name[sv]=Servrar (Conty-Unrestricted)
Name[zh_CN]=服务器 (Conty-Unrestricted)
Name[zh_TW]=伺服器 (Conty-Unrestricted)
Name[th]=เซิร์ฟเวอร์ (Conty-Unrestricted)
Name[tr]=Sunucular (Conty-Unrestricted)
Name[uk]=Сервери (Conty-Unrestricted)
Name[vi]=Máy chủ (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://open/servers

[Desktop Action Screenshots]
Name=Screenshots (Conty-Unrestricted)
Name[pt_BR]=Capturas de tela (Conty-Unrestricted)
Name[bg]=Снимки (Conty-Unrestricted)
Name[cs]=Snímky obrazovky (Conty-Unrestricted)
Name[da]=Skærmbilleder (Conty-Unrestricted)
Name[nl]=Screenshots (Conty-Unrestricted)
Name[fi]=Kuvankaappaukset (Conty-Unrestricted)
Name[fr]=Captures d'écran (Conty-Unrestricted)
Name[de]=Screenshots (Conty-Unrestricted)
Name[el]=Φωτογραφίες (Conty-Unrestricted)
Name[hu]=Képernyőmentések (Conty-Unrestricted)
Name[it]=Screenshot (Conty-Unrestricted)
Name[ja]=スクリーンショット (Conty-Unrestricted)
Name[ko]=스크린샷 (Conty-Unrestricted)
Name[no]=Skjermbilder (Conty-Unrestricted)
Name[pt_PT]=Capturas de ecrã (Conty-Unrestricted)
Name[pl]=Zrzuty ekranu (Conty-Unrestricted)
Name[ro]=Capturi de ecran (Conty-Unrestricted)
Name[ru]=Скриншоты (Conty-Unrestricted)
Name[es]=Capturas (Conty-Unrestricted)
Name[sv]=Skärmdumpar (Conty-Unrestricted)
Name[zh_CN]=截图 (Conty-Unrestricted)
Name[zh_TW]=螢幕擷圖 (Conty-Unrestricted)
Name[th]=ภาพหน้าจอ (Conty-Unrestricted)
Name[tr]=Ekran Görüntüleri (Conty-Unrestricted)
Name[uk]=Скріншоти (Conty-Unrestricted)
Name[vi]=Ảnh chụp (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://open/screenshots

[Desktop Action News]
Name=News (Conty-Unrestricted)
Name[pt_BR]=Notícias (Conty-Unrestricted)
Name[bg]=Новини (Conty-Unrestricted)
Name[cs]=Zprávy (Conty-Unrestricted)
Name[da]=Nyheder (Conty-Unrestricted)
Name[nl]=Nieuws (Conty-Unrestricted)
Name[fi]=Uutiset (Conty-Unrestricted)
Name[fr]=Actualités (Conty-Unrestricted)
Name[de]=Neuigkeiten (Conty-Unrestricted)
Name[el]=Νέα (Conty-Unrestricted)
Name[hu]=Hírek (Conty-Unrestricted)
Name[it]=Notizie (Conty-Unrestricted)
Name[ja]=ニュース (Conty-Unrestricted)
Name[ko]=뉴스 (Conty-Unrestricted)
Name[no]=Nyheter (Conty-Unrestricted)
Name[pt_PT]=Novidades (Conty-Unrestricted)
Name[pl]=Aktualności (Conty-Unrestricted)
Name[ro]=Știri (Conty-Unrestricted)
Name[ru]=Новости (Conty-Unrestricted)
Name[es]=Noticias (Conty-Unrestricted)
Name[sv]=Nyheter (Conty-Unrestricted)
Name[zh_CN]=新闻 (Conty-Unrestricted)
Name[zh_TW]=新聞 (Conty-Unrestricted)
Name[th]=ข่าวสาร (Conty-Unrestricted)
Name[tr]=Haberler (Conty-Unrestricted)
Name[uk]=Новини (Conty-Unrestricted)
Name[vi]=Tin tức (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://open/news

[Desktop Action Settings]
Name=Settings (Conty-Unrestricted)
Name[pt_BR]=Configurações (Conty-Unrestricted)
Name[bg]=Настройки (Conty-Unrestricted)
Name[cs]=Nastavení (Conty-Unrestricted)
Name[da]=Indstillinger (Conty-Unrestricted)
Name[nl]=Instellingen (Conty-Unrestricted)
Name[fi]=Asetukset (Conty-Unrestricted)
Name[fr]=Paramètres (Conty-Unrestricted)
Name[de]=Einstellungen (Conty-Unrestricted)
Name[el]=Ρυθμίσεις (Conty-Unrestricted)
Name[hu]=Beállítások (Conty-Unrestricted)
Name[it]=Impostazioni (Conty-Unrestricted)
Name[ja]=設定 (Conty-Unrestricted)
Name[ko]=설정 (Conty-Unrestricted)
Name[no]=Innstillinger (Conty-Unrestricted)
Name[pt_PT]=Definições (Conty-Unrestricted)
Name[pl]=Ustawienia (Conty-Unrestricted)
Name[ro]=Setări (Conty-Unrestricted)
Name[ru]=Настройки (Conty-Unrestricted)
Name[es]=Parámetros (Conty-Unrestricted)
Name[sv]=Inställningar (Conty-Unrestricted)
Name[zh_CN]=设置 (Conty-Unrestricted)
Name[zh_TW]=設定 (Conty-Unrestricted)
Name[th]=การตั้งค่า (Conty-Unrestricted)
Name[tr]=Ayarlar (Conty-Unrestricted)
Name[uk]=Налаштування (Conty-Unrestricted)
Name[vi]=Thiết lập (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://open/settings

[Desktop Action BigPicture]
Name=Big Picture (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://open/bigpicture

[Desktop Action Friends]
Name=Friends (Conty-Unrestricted)
Name[pt_BR]=Amigos (Conty-Unrestricted)
Name[bg]=Приятели (Conty-Unrestricted)
Name[cs]=Přátelé (Conty-Unrestricted)
Name[da]=Venner (Conty-Unrestricted)
Name[nl]=Vrienden (Conty-Unrestricted)
Name[fi]=Kaverit (Conty-Unrestricted)
Name[fr]=Amis (Conty-Unrestricted)
Name[de]=Freunde (Conty-Unrestricted)
Name[el]=Φίλοι (Conty-Unrestricted)
Name[hu]=Barátok (Conty-Unrestricted)
Name[it]=Amici (Conty-Unrestricted)
Name[ja]=フレンド (Conty-Unrestricted)
Name[ko]=친구 (Conty-Unrestricted)
Name[no]=Venner (Conty-Unrestricted)
Name[pt_PT]=Amigos (Conty-Unrestricted)
Name[pl]=Znajomi (Conty-Unrestricted)
Name[ro]=Prieteni (Conty-Unrestricted)
Name[ru]=Друзья (Conty-Unrestricted)
Name[es]=Amigos (Conty-Unrestricted)
Name[sv]=Vänner (Conty-Unrestricted)
Name[zh_CN]=好友 (Conty-Unrestricted)
Name[zh_TW]=好友 (Conty-Unrestricted)
Name[th]=เพื่อน (Conty-Unrestricted)
Name[tr]=Arkadaşlar (Conty-Unrestricted)
Name[uk]=Друзі (Conty-Unrestricted)
Name[vi]=Bạn bè (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam steam://open/friends
