[Desktop Entry]
Name=Free Download Manager (Conty-Unrestricted)
Comment= FDM is a powerful modern download accelerator and organizer
Keywords=download;manager;free;fdm;
Exec="/home/fenglengshun/.local/bin/conty.sh" /usr/bin/fdm
Terminal=false
Type=Application
Icon=freedownloadmanager
Categories=Network;FileTransfer;P2P;GTK;
StartupNotify=true
