[Desktop Entry]
Version=1.0
Name=Grsync (Conty-Unrestricted)
Terminal=false
Type=Application
MimeType=application/x-grsync-session;
Categories=Application;System;
GenericName=Synchronize files with rsync
GenericName[fr]=Interface GTK pour rsync
GenericName[it]=Sincronizza file con rsync
GenericName[nb]=Et GTK-grensesnitt for rsync
GenericName[ru]=GTK интерфейс для rsync
GenericName[tr]=Rsync için bir GTK grafik arayüzü
GenericName[hr]=Sinkronizacija datoteka pomoću rsync-a
GenericName[af]=Sinkroniseer lêers met rsync
GenericName[sq]=Sinkronizo skdedarët me rsync
GenericName[ast]=Sincroniza ficheros con rsync
GenericName[be]=Сынхранізацыя файлаў пры дапамозе rsync
GenericName[bn]=rsync দ্বারা ফাইল সমকালীন করুন
GenericName[bs]=Uskladite datoteke pomoću rsync
GenericName[pt_BR]=Sincronize arquivos com rsync
GenericName[bg]=Синхронизиране на файлове с rsync
GenericName[ca]=Sincronitzeu fitxers amb rsync
GenericName[ca@valencia]=Sincronitzeu fitxers amb rsync
GenericName[zh_HK]=以 rsync 同步檔案
GenericName[zh_CN]=用 rsync 同步文件
GenericName[zh_TW]=以 rsync 同步檔案
GenericName[crh]=rsync ile dosyaları eşleştir
GenericName[cs]=Synchronizace souborů pomocí rsync
GenericName[da]=Synkronisér filer med rsync
GenericName[nl]=Bestanden synchroniseren met rsync
GenericName[fi]=Synkronisoi tiedostoja rsyncillä
GenericName[gl]=Sincronice ficheiros con rsync
GenericName[de]=Dateien mit rsync synchronisieren
GenericName[el]=Συγχρονισμός αρχείων μέσω rsync
GenericName[hu]=Fájlok szinkronizálása rsync használatával
GenericName[is]=Samræma vélar með rsync
GenericName[ja]=rsync でファイルを同期します
GenericName[ky]=rsync тин жардамы менен файлдарды синхрондоштуруу
GenericName[ko]=알싱크로 파일을 동기화합니다
GenericName[ms]=Segerakkan fail dengan rsync
GenericName[oc]=Sincronizar de fichièrs amb rsync
GenericName[pl]=Interfejs synchronizacji plików programu rsync
GenericName[pt]=Sincronizar ficheiros com rsync
GenericName[ro]=Sincronizați fișiere cu rsync
GenericName[sr]=Синхронизујте датотеке са rsync-ом
GenericName[sl]=Uskladite datoteke z rsync
GenericName[es]=Sincronice archivos con rsync
GenericName[sv]=Synkronisera filer med rsync
GenericName[uk]=Синхронізація файлів з rsync
GenericName[vi]=Đồng bộ hoá tập tin với rsync
Comment=Synchronize files and folders (a GTK GUI for rsync)
Comment[cs]=Synchronizace souborů a složek (rozhraní pro rsync napsané pod Gtk+)
Comment[de]=Dateien und Ordner abgleichen (eine grafische rsync-Benutzeroberfläche basierend auf GTK)
Comment[es]=Sincronizar archivos y carpetas (un IGU GTK+ para rsync)
Comment[fr]=Synchronise les fichiers et dossiers (une interface graphique GTK pour rsync)
Comment[hr]=Sinkornizacija datoteka i mapa (GTK GUI za rsync)
Comment[hu]=Fájlok és mappák szinkronizálása (GTK felület az rsynchez)
Comment[id]=Sinkronisasi berkas dan folder (GTK GUI untuk rsync)
Comment[it]=Sincronizza file e cartelle (una GUI GTK di rsync)
Comment[nb]=Synkroniser filer og mapper (GTK-grensesnitt for rsync)
Comment[nl]=Bestanden en mappen synchroniseren (een GTK GUI voor rsync)
Comment[pt_BR]=Sincronizar arquivos e pastas (Um GTK GUI para o rsync)
Comment[ru]=Синхронизирует файлы и директории (GTK GUI для rsync)
Comment[zh_TW]=同步檔案與資料夾 (rsync 的 GTK 圖形使用者介面)
Exec="/home/fenglengshun/.local/bin/conty.sh" /usr/bin/grsync -i %f
Icon=grsync
