[Desktop Entry]
Name[ar]=لوترس (Conty-Unrestricted)
Name[de]=Lutris (Conty-Unrestricted)
Name[el]=Lutris (Conty-Unrestricted)
Name[es]=Lutris (Conty-Unrestricted)
Name[fr]=Lutris (Conty-Unrestricted)
Name[hr]=Lutris (Conty-Unrestricted)
Name[nl]=Lutris (Conty-Unrestricted)
Name[pt_BR]=Lutris (Conty-Unrestricted)
Name[ru]=Lutris (Conty-Unrestricted)
Name[zh_CN]=Lutris (Conty-Unrestricted)
Name=Lutris (Conty-Unrestricted)
Comment[ar]=منصَّة حفظ ألعاب الفيديو
Comment[el]=Πλατφόρμα Διατήρησης Βιντεοπαιχνιδιών
Comment[fr]=Plateforme de préservation de jeux vidéo
Comment[nl]=Videogame-bewaarplatform
Comment[ru]=Площадка для сохранения видеоигр
Comment[tr]=Video Oyunu Depolama Platformu
Comment[zh_CN]=电子游戏保存平台
Comment=Video Game Preservation Platform
Categories=Game;
Keywords[ar]=gaming;wine;emulator;لعب;واين;محاكي;
Keywords[de]=gaming;spielen;wine;emulator;
Keywords[el]=gaming;wine;εξομοιωτής;
Keywords[es]=juego;wine;emulador;
Keywords[fr]=gaming;wine;emulator;jeux;émulateur;
Keywords[hr]=igranje;wine;emulator;
Keywords[nl]=gaming;spellen;wine;emulator;
Keywords[pt_BR]=gaming;wine;emulação
Keywords[ru]=gaming;wine;emulator;
Keywords[tr]=oyun;wine;emülatör
Keywords[zh_CN]=游戏;wine;模拟器;
Keywords=gaming;wine;emulator;
Exec="/home/fenglengshun/.local/bin/conty.sh" lutris %U
Icon=lutris
Terminal=false
Type=Application
MimeType=x-scheme-handler/lutris;
X-GNOME-UsesNotifications=true
