[Desktop Entry]
Type=Application
Name=NormCap (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" normcap %F
Icon=normcap
Categories=Utility;
Comment=OCR-powered screen-capture tool to capture information instead of images
