[Desktop Entry]
Type=Application
Name=Plasma Browser Integration Host (Conty-Unrestricted)
Name[ar]=مضيف تكامل بلازما مع المتصفّح (Conty-Unrestricted)
Name[az]=Plasmanın veb-bələdçiyə inteqrasiya xidməti (Conty-Unrestricted)
Name[bg]=Хост за браузър интеграция в Plasma (Conty-Unrestricted)
Name[ca]=Servidor de la integració del navegador amb el Plasma (Conty-Unrestricted)
Name[ca@valencia]=Servidor de la integració del navegador amb Plasma (Conty-Unrestricted)
Name[cs]=Integrace prohlížeče do prostředí Plasma (Conty-Unrestricted)
Name[de]=Plasma-Integration für Browser (Conty-Unrestricted)
Name[en_GB]=Plasma Browser Integration Host (Conty-Unrestricted)
Name[es]=Anfitrión de integración del navegador con Plasma (Conty-Unrestricted)
Name[eu]=Plasman arakatzaileak bateratzeko ostalaria (Conty-Unrestricted)
Name[fi]=Plasma-selainintegrointi-isäntä (Conty-Unrestricted)
Name[fr]=Hôte pour l'intégration du navigateur dans Plasma (Conty-Unrestricted)
Name[gl]=Servidor de integración co navegador de Plasma (Conty-Unrestricted)
Name[hu]=Plasma böngészőintegráció (Conty-Unrestricted)
Name[ia]=Hospite de Integration de Navigator de Plasma (Conty-Unrestricted)
Name[id]=Host Integrasi Browser Plasma (Conty-Unrestricted)
Name[it]=Host dell'integrazione del browser con Plasma (Conty-Unrestricted)
Name[ka]=Plasma-ის ბრაუზერის ინტეგრაციის ჰოსტი (Conty-Unrestricted)
Name[ko]=Plasma 브라우저 통합 호스트 (Conty-Unrestricted)
Name[lt]=Plasma naršyklės integracijos serveris (Conty-Unrestricted)
Name[nl]=Host voor Plasma-browserintegratie (Conty-Unrestricted)
Name[nn]=Vert for nettlesarintegrering for Plasma (Conty-Unrestricted)
Name[pl]=Gospodarz integracji przeglądarki Plazmy (Conty-Unrestricted)
Name[pt]=Integração com o Navegador do Plasma (Conty-Unrestricted)
Name[pt_BR]=Host de integração de navegadores no Plasma (Conty-Unrestricted)
Name[ro]=Gazdă a integrării Plasma cu navigatorul (Conty-Unrestricted)
Name[ru]=Служба работы с расширением браузера для интеграции с Plasma (Conty-Unrestricted)
Name[sk]=Plasma Browser Integration Host (Conty-Unrestricted)
Name[sl]=Gostitelj integracije brskalnika s Plasmo (Conty-Unrestricted)
Name[sv]=Värddator för Plasma webbläsarintegrering (Conty-Unrestricted)
Name[ta]=பிளாஸ்மா உலாவி ஒருங்கிணைப்பு புரவன் (Conty-Unrestricted)
Name[tr]=Plasma Tarayıcı Tümleştirme Makinesi (Conty-Unrestricted)
Name[uk]=Вузол інтеграції браузера із Плазмою (Conty-Unrestricted)
Name[x-test]=xxPlasma Browser Integration Hostxx (Conty-Unrestricted)
Name[zh_CN]=Plasma 浏览器集成宿主程序 (Conty-Unrestricted)
Name[zh_TW]=Plasma 瀏覽器整合主程式 (Conty-Unrestricted)
Icon=plasma-browser-integration
Exec="/home/fenglengshun/.local/bin/conty.sh" /usr/bin/plasma-browser-integration-host
NoDisplay=true
#X-systemd-skip=true
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management
