[Desktop Entry]
Type=Application
Name=Xwayland Video Bridge (Nightly) (Conty-Unrestricted)
Name[ca]=Pont de vídeo de l'Xwayland (Nightly) (Conty-Unrestricted)
Name[ca@valencia]=Pont de vídeo d'XWayland (Nightly) (Conty-Unrestricted)
Name[cs]=Propojení videa Xwayland (Nightly) (Conty-Unrestricted)
Name[de]=Xwayland-Video-Brücke (Nightly) (Conty-Unrestricted)
Name[en_GB]=Xwayland Video Bridge (Nightly) (Conty-Unrestricted)
Name[eo]=Xwayland Video-Ponto (Nightly) (Conty-Unrestricted)
Name[es]=Pasarela de vídeo Xwayland (Nightly) (Conty-Unrestricted)
Name[eu]=Xwayland bideo zubia (Nightly) (Conty-Unrestricted)
Name[fi]=Xwayland-videosilta (Nightly) (Conty-Unrestricted)
Name[fr]=Pont vidéo XWayland (Nightly) (Conty-Unrestricted)
Name[gl]=Ponte de vídeo de XWayland (Nightly) (Conty-Unrestricted)
Name[it]=Bridge video Xwayland (Nightly) (Conty-Unrestricted)
Name[ka]=Xwayland-ის ვიდეოხიდი (Nightly) (Conty-Unrestricted)
Name[ko]=Xwayland 비디오 브리지 (Nightly) (Conty-Unrestricted)
Name[nl]=Xwayland video-bridge (Nightly) (Conty-Unrestricted)
Name[nn]=Xwayland-videobru (Nightly) (Conty-Unrestricted)
Name[pt]=Interface de Vídeo para o Xwayland (Nightly) (Conty-Unrestricted)
Name[pt_BR]=Ponte de vídeo Xwayland (Nightly) (Conty-Unrestricted)
Name[sk]=Xwayland video most (Nightly) (Conty-Unrestricted)
Name[sl]=Xwayland Video Bridge (Nightly) (Conty-Unrestricted)
Name[sv]=Xwayland videobrygga (Nightly) (Conty-Unrestricted)
Name[tr]=Xwayland Video Köprüsü (Nightly) (Conty-Unrestricted)
Name[uk]=Відеомісток Xwayland (Nightly) (Conty-Unrestricted)
Name[x-test]=xxXwayland Video Bridgexx (Nightly) (Conty-Unrestricted)
Name[zh_CN]=Xwayland 视频桥接程序 (Nightly) (Conty-Unrestricted)
GenericName=Share screens and windows to XWayland applications
GenericName[ca]=Comparteix pantalles i finestres amb les aplicacions XWayland
GenericName[ca@valencia]=Compartix pantalles i finestres amb les aplicacions XWayland
GenericName[de]=Bildschirme und Fenster mit XWayland-Anwendungen teilen
GenericName[en_GB]=Share screens and windows to XWayland applications
GenericName[eo]=Kunhavigi ekranojn kaj fenestrojn al XWayland-aplikaĵoj
GenericName[es]=Compartir pantallas y ventanas con las aplicaciones XWayland
GenericName[eu]=XWayland aplikazioekin pantailak eta leihoak partekatzea
GenericName[fi]=Jaa näyttöjä ja ikkunoita Xwayland-sovelluksiin
GenericName[fr]=Partager des écrans et des fenêtres entre applications sous XWayland
GenericName[gl]=Compartir pantallas e xanelas con aplicacións de XWayland
GenericName[it]=Condividi schermate e finestre con le applicazioni XWayland
GenericName[ka]=გაუზიარეთ ეკრანები და ფანჯრები XWayland-ის აპლიკაციებს
GenericName[ko]=XWayland 앱으로 화면과 창 공유
GenericName[nl]=Schermen en vensters delen met XWayland toepassingen
GenericName[nn]=Del skjermar og vindauge med XWayland-program
GenericName[pt]=Partilhar ecrãs e janelas com as aplicações do XWayland
GenericName[pt_BR]=Compartilhe telas e janelas com aplicativos XWayland
GenericName[sl]=Deljenje zaslonov in oken z aplikacijami XWayland
GenericName[sv]=Dela skärmar och fönster med XWayland-program
GenericName[tr]=Ekranları ve pencereleri XWayland uygulamalarına paylaş
GenericName[uk]=Спільне користування екранами та вікнами для програм XWayland
GenericName[x-test]=xxShare screens and windows to XWayland applicationsxx
GenericName[zh_CN]=分享屏幕和窗口给 XWayland 应用程序
Icon=xwaylandvideobridge
Exec="/home/fenglengshun/.local/bin/conty.sh" xwaylandvideobridge
StartupNotify=false
Categories=Qt;KDE;Utility;X-KDE-Utilities-Desktop;
