[Desktop Entry]
Type=Application
Exec="/home/fenglengshun/.local/bin/conty.sh" pcmanfm-qt --desktop-pref=general
Icon=user-desktop
Categories=Settings;Qt;DesktopSettings;
StartupNotify=true
Name=Desktop (Conty-Unrestricted)
GenericName=Desktop Settings
Comment=Change wallpapers and behavior of desktop manager
Name[ar]=سطح المكتب (Conty-Unrestricted)
GenericName[ar]=تفضيلات سطح المكتب
Comment[ar]=غيّر خلفيّات مدير سطح المكتب وسلوكه
Name[bg]=Работен плот (Conty-Unrestricted)
GenericName[bg]=Настройки на работен плот
Comment[bg]=Промяна на тапетите и поведението на мениджъра на работния\
Name[ca]=Escriptori (Conty-Unrestricted)
GenericName[ca]=Ajusts de l'escriptori
Comment[ca]=Canvieu les imatges dels fons i el comportament del gestor d'escriptoris
Name[cs]=Pracovní plocha (Conty-Unrestricted)
GenericName[cs]=Nastavení pracovní plochy
Comment[cs]=Změna pozadí plochy a chování jejího správce
Name[da]=Skrivebord (Conty-Unrestricted)
GenericName[da]=Skrivebordsindstillinger
Comment[da]=Skift desktop managerens tapeter og adfærd
Name[de]=Schreibtisch (Conty-Unrestricted)
GenericName[de]=Schreibtischeinstellungen
Comment[de]=Einstellungen wie Hintergrundbild oder verwendete Menüs
Name[el]=Επιφάνεια εργασίας (Conty-Unrestricted)
GenericName[el]=Ρυθμίσεις της επιφάνειας εργασίας
Comment[el]=Αλλαγή της ταπετσαρίας και της συμπεριφοράς του διαχειριστή της επιφάνειας εργασίας
Name[es]=Escritorio (Conty-Unrestricted)
GenericName[es]=Configuración del escritorio
Comment[es]=Cambiar el fondo de pantalla y el comportamiento del escritorio
Name[et]=Töölaud (Conty-Unrestricted)
GenericName[et]=Töölaua seadistused
Comment[et]=Muuda töölaua taustapilti ja käitumist
Name[fr]=Bureau (Conty-Unrestricted)
GenericName[fr]=Paramétrage du bureau
Comment[fr]=Paramètres tels que papier-peint et autres réglages du bureau
Name[gl]=Escritorio (Conty-Unrestricted)
GenericName[gl]=Configuración do escritorio
Comment[gl]=Cambiar o fondo da pantalla e o comportamento do escritorio
Name[he]=שולחן עבודה (Conty-Unrestricted)
GenericName[he]=הגדרות שולחן עבודה
Comment[he]=החלפת טפטים ואת התנהגות שולחן העבודה
Name[hi]=डेस्कटॉप (Conty-Unrestricted)
GenericName[hi]=डेस्कटॉप सेटिंग्स
Comment[hi]=वॉलपेपर और डेस्कटॉप प्रबंधक के व्यवहार को परिवर्तित करें
Name[hr]=Radna površina (Conty-Unrestricted)
GenericName[hr]=Postavke radne površine
Comment[hr]=Promijeni sliku pozadine i ponašanje upravljača radne površine
Name[hu]=Asztal (Conty-Unrestricted)
GenericName[hu]=Asztalbeállítás
Comment[hu]=Asztal kinézetének és működésének beállítása
Name[it]=Scrivania (Conty-Unrestricted)
GenericName[it]=Preferenze della scrivania
Comment[it]=Configura percorso e aspetto della scrivania
Name[ja]=デスクトップ (Conty-Unrestricted)
GenericName[ja]=デスクトップ
Comment[ja]=壁紙やその他のデスクトップ設定を変更します (PCManFM-Qt)
Name[ko]=바탕화면 (Conty-Unrestricted)
GenericName[ko]=바탕화면 설정
Comment[ko]=바탕화면 관리자의 배경화면 및 동작 변경하기
Name[lt]=Darbalaukis (Conty-Unrestricted)
GenericName[lt]=Darbalaukio nustatymai
Comment[lt]=Keisti darbalaukio tvarkytuvės darbalaukio foną ir elgseną
Name[lv]=Darbvirsma (Conty-Unrestricted)
GenericName[lv]=Darbvirsmas iestatījumi
Comment[lv]=Mainīt darbvirsmas pārvaldnieka tapetes un uzvedību
Name[nb_NO]=Skrivebord (Conty-Unrestricted)
GenericName[nb_NO]=Skrivebordsinnstillinger
Comment[nb_NO]=Endre skrivebordshåndtererens oppførsel og bakgrunn
Name[nl]=Bureaublad (Conty-Unrestricted)
GenericName[nl]=Bureaubladinstellingen
Comment[nl]=Wijzig uw bureaubladachtergrond en beheer uw bureaublad
Name[pl]=Pulpit (Conty-Unrestricted)
GenericName[pl]=Ustawienia pulpitu
Comment[pl]=Zmiana tapety oraz zachowania pulpitu
Name[pt]=Ambiente de trabalho (Conty-Unrestricted)
GenericName[pt]=Definições do ambiente de trabalho
Comment[pt]=Mudar os papéis de parede e o comportamento do gestor do ambiente\
Name[ru]=Рабочий стол (Conty-Unrestricted)
GenericName[ru]=Настройки рабочего стола
Comment[ru]=Изменить обои и поведение менеджера рабочего стола
Name[si]=ඩෙස්ක්ටොප් (Conty-Unrestricted)
Name[sk]=Pracovná plocha (Conty-Unrestricted)
GenericName[sk]=Nastavenia pracovnej plochy
Comment[sk]=Zmeniť pozadie pracovnej plochy a nastavenia jej správcu
Name[sl]=Namizje (Conty-Unrestricted)
GenericName[sl]=Nastavitve namizja
Comment[sl]=Spremeni ozadje in obnašanje namizja
Name[tr]=Masaüstü (Conty-Unrestricted)
GenericName[tr]=Masaüstü Ayarları
Comment[tr]=Duvarkağıtlarını ve masaüstü yöneticisinin davranışını değiştir
Name[uk]=Стільниця (Conty-Unrestricted)
GenericName[uk]=Налаштування стільниці
Comment[uk]=Змінити тло та поводження менеджера стільниці
Name[vi]=Bàn làm việc (Conty-Unrestricted)
GenericName[vi]=Cài đặt Bàn làm việc
Comment[vi]=Thay đổi hình nền và hành vi của trình quản lí desktop
Name[zh_CN]=桌面 (Conty-Unrestricted)
GenericName[zh_CN]=桌面设置
Comment[zh_CN]=更改墙纸与桌面管理器的行为
