[Desktop Entry]
Name=Qt V4L2 video capture utility (Conty-Unrestricted)
Comment=Viewer for video capture
Exec="/home/fenglengshun/.local/bin/conty.sh" qvidcap
Icon=qvidcap
Terminal=false
Type=Application
Categories=AudioVideo;
Keywords=video;grabber;V4L;
