[Desktop Entry]
Name=Steam ROM Manager (Conty-Unrestricted)
Exec="/home/fenglengshun/.local/bin/conty.sh" steam-rom-manager
Terminal=false
Type=Application
Icon=steam-rom-manager
StartupWMClass=Steam ROM Manager
X-AppImage-Version=2.3.29
Comment=An app for managing ROMs in Steam
Categories=Utility;
