[Desktop Entry]
Name=The Honkers Railway Launcher (Conty-Unrestricted)
Comment=An Launcher for a specific anime game with auto-patching, discord rpc and time tracking
Icon=moe.launcher.the-honkers-railway-launcher
Exec="/home/fenglengshun/.local/bin/conty.sh" /usr/bin/the-honkers-railway-launcher
Type=Application
Categories=Game
Terminal=false
